.service-arrow
  kind: block inline
  skin: arrow

.search-arrow
  kind: block inline
  skin: arrow search

.arrow-body
  kind: block inline
  skin: arrow no-elements red

  color: #FFF

.arrow-tail
  skin: arrow tail red
