.service-arrow
  kind: block inline
  skin: arrow

.search-arrow
  kind: block inline
  skin: arrow search

  & > .field
    vertical-align: top

.arrow-body
  kind: block inline
  skin: arrow no-elements red 11*rem

  color: #FFF

.arrow-tail
  skin: arrow tail red 11*rem
