.service-arrow
  kind: block inline
  skin: arrow

  a&
    skin: link #000

.search-arrow
  kind: block inline
  skin: arrow search

  & > .field
    vertical-align: top

.arrow-body
  kind: block inline
  skin: arrow red 11*rem (-helper '& > .arrow-tail')

  color: #FFF
