.header-logo
  kind: block inline

  // How to deal with those?
  top: -1px

  // Could we move this to `block`? So it would be `kind: block inline 95px 37px`.
  // Also, it would be cool to came up with a way to set margins/paddings in a block way.
  width: 98px
  height: 37px

  margin-right: $l

.header-logo-text
  kind: hidden visually

.header-logo-image
  kind: fill "http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg"
