$skin-islands-arrow-height ?= 4.2*rem
$skin-islands-arrow-color  ?= #FFDB4C

skin-islands-arrow()
  $height = alike(arguments, $skin-islands-arrow-height)
  $color = alike(arguments, $skin-islands-arrow-color)

  if tail in arguments
    skin-islands-arrow-helper(arguments)
  else
    if search in arguments
      padding: ($xs - 0.1*rem) ($m - 0.2*rem) ($xs - 0.1*rem) ($xs - 0.1*rem)
    else
      padding: ($xs + 0.2*rem) ($m - 0.1*rem)
      font-size: 1.8*rem
      line-height: $height - (2*$xs + 0.4*rem)

    background: $color
    white-space: nowrap

    margin-right: round(($height / 2) * (sin(PI * 30 / 180) / cos(PI * 30 / 180)), 3)

    unless no-elements in arguments
      &:before
        content: ""
        skin-islands-arrow-helper(arguments)

skin-islands-arrow-helper()
  $height = alike(arguments, $skin-islands-arrow-height)
  $color = alike(arguments, $skin-islands-arrow-color)

  position: absolute
  top: 50%
  left: 100%
  $sqrt2 = 1.414213562
  width: $height * (1/$sqrt2)
  height: $height * (1/$sqrt2)

  // tfZ should be there only if alpha == 1
  -webkit-transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg) translateZ(0)
  -moz-transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg)
  -o-transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg)
  transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg)
  background: -webkit-linear-gradient(45deg, $color 50%,transparent 50%)
  background: -moz-linear-gradient(45deg, $color 50%,transparent 50%)
  background: linear-gradient(45deg, $color 50%,transparent 50%)
