.form
  kind: block
  skin: form

.form-fieldset
  kind: block
  skin: form-fieldset

.form-legend
  kind: block
  skin: form-legend

.form-field
  kind: block
  skin: form-field
  margin-bottom: 0
  
  & &
    margin-bottom: $s 

.form-inline-field
  kind: block inline
  skin: form-inline-field
  margin-bottom: $s 

.form-field-label
  kind: block inline
  skin: form-field-label

.form-field-content
  kind: block inline, content no-before 0 0 $s
  skin: form-field-content

.form-hint
  kind: block inline
  skin: form-hint

.form-hint-title
  kind: block
  skin: form-hint-title

.form-hint-content
  kind: block
  skin: form-hint-content

.form-pseudo-link
  skin: form-pseudo-link

.default-form
  kind: block
  skin: form

  & .form-field-label
    width: 9*$l

  & .form-field-content
    width: 15*$l

    // Align labelless content
    &:first-child
      margin-left: 10*$l

.wide-form
  kind: block
  skin: form

  & .form-field-label
    width: 9*$l

  & .form-field-content
    box-sizing: border-box
    max-width: 100% 
    margin-left: -10*$l 
    padding-left: 10*$l 

    // Align labelless content
    &:first-child
      margin-left: 10*$l

  

.form-epmty
  skin: icon _remove with-hover
