.form
  kind: block
  skin: form

.form-fieldset
  kind: block
  skin: form-fieldset

.form-legend
  kind: block
  skin: form-legend

.form-field
  kind: block
  skin: form-field

.form-inline-field
  kind: block inline
  skin: form-inline-field

.form-field-label
  kind: block inline
  skin: form-field-label

.form-field-content
  kind: block inline
  skin: form-field-content

.form-hint
  kind: block inline
  skin: form-hint

.form-hint-title
  kind: block
  skin: form-hint-title

.form-hint-content
  kind: block
  skin: form-hint-content

.form-pseudo-link
  skin: form-pseudo-link

.default-form
  kind: block
  skin: form

  & .form-field-label
    width: 9*$l

  & .form-field-content
    width: 15*$l

    // Align labelless content
    &:first-child
      margin-left: 10*$l
