.field
  kind: field 0.5*$islands_s $islands_s
  skin: input-box

.input-controller
  kind: input
  z-index: 9
  width: 100%
  height: 100%

  textarea&
    vertical-align: top
    resize: none

.input-view
  kind: fill -1px
  skin: input-view no-focus

  :not({$skin-islands-input-disabled}):focus + &
    skin: input_focus

