.field
  kind: field 0.5*$islands_s $islands_s
  skin: input__box

.input-controller
  kind: input
  z-index: 9
  width: 100%
  height: 100%

.field-placeholder
  skin: input__placeholder (__inner '&-inner') (__ghost '&-ghost')

.small-field-placeholder
  skin: input__placeholder small (__inner '&-inner')

textarea.input-controller
  vertical-align: top
  resize: none

.input-view
  kind: fill -1px
  skin: input__view no-focus

  :focus + &
    skin: input_focus

