.select
  kind: block
  z-index: 10

  -webkit-appearance: none
  -moz-appearance: menuitem
  -moz-appearance: window

  border: none
  padding: 0
  margin: 0

  font: inherit

  color: inherit
  background: transparent

  &:focus
    outline: none

  &{",x::-moz-focus-inner"}
    color: transparent
    text-shadow: 0 0 0 #333

  &:focus + &-focus
    kind: fill
    z-index: 9
    skin: button_focus_style

  .button > &
    padding: 0.5rem 1.5rem
    margin: -0.5rem -1.5rem

    &{",x::-moz-focus-inner"}
      padding: 0.6rem 1.1rem

    &{",x:-o-prefocus"}
      margin: -0.3rem -1.5rem
      margin-right: -3rem

  &-wrap{",x:-o-prefocus"}
    overflow: hidden
    vertical-align: middle

