stylobate_extends('skin-islands-v3-radio', 'skin-islands-v3-checkbox')


skin-islands-v3-radio__view($this)
  skin-islands-v3-checkbox__view($this)

  border-radius: 999px


skin-islands-v3-radio__icon($this)
  +optional-element($this, 'view')
    content: ''
    visibility: hidden

    position: absolute
    top: 0
    left: 0

    background: #000

    border-radius: 50%

    $size = $this.modifiers['size'] || 'medium'

    if $size in ('m' 'medium')
      width: 6px
      height: 6px
      margin: 3px

    if $size in ('l' 'large')
      width: 14px
      height: 14px

      transform: scale(0.5) translate(1px, 1px)


skin-islands-v3-radio_size($this)
  +optional-element($this, 'view')
    $size = $this.modifiers['size'] || 'medium'

    if $size in ('m' 'medium')
      width: 12px
      height: 12px

    if $size in ('l' 'large')
      width: 15px
      height: 15px
