.search:before {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg);
  -ms-transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg);
  transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg);
}

.search {
  position: relative;
  display: block;
  padding: 0.5rem 1.4000000000000001rem 0.5rem 0.5rem;
  background: #ffdb4c;
  white-space: nowrap;
  margin-right: 1.212rem;
}

.search:before {
  content: "";
  width: 2.969848481766999rem;
  height: 2.969848481766999rem;
  background: -webkit-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  -webkit-transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg) translateZ(0);
}

.search .search-field {
  width: 100%;
}

.search-content {
  display: block;
  overflow: hidden;
}

.search-right {
  float: right;
  margin-left: 0.6rem;
}
