@require '../../../standalone.styl'

.switch
  skin: v3-switch \
        (__controller '&-controller') \
        (__view '&-view') \
        (__view-content '&-view-content') \
        (__on '&-on') \
        (__off '&-off')