[submodule "stylobate"]
	path = stylobate
	url = git://github.com/kizu/stylobate.git
[submodule "skins/islands"]
	path = skins/islands
	url = git://github.com/yandex-ui/stylobate-islands.git
[submodule "_includes/tenkan"]
	path = _includes/tenkan
	url = git://github.com/kizu/tenkan.git
