
// Setting variables
$islands_xs ?= 0.6*rem
$islands_s  ?= 1.0*rem
$islands_m  ?= 1.6*rem
$islands_l  ?= 2.0*rem

$islands_text_m ?= 1.5*rem
$islands_text_s ?= 1.3*rem

$islands_color_text ?= #333
$islands_color_text_misc ?= rgba(#000, 0.4)

// Importing skins
@import "disabled/skin-islands-disabled"
@import "isle/skin-islands-isle"
@import "text/skin-islands-text"
@import "link/skin-islands-link"
@import "tabs/skin-islands-tabs"
@import "button/skin-islands-button"
@import "button/skin-islands-button_checked"
@import "button/skin-islands-button_focus"
@import "pseudo-button/skin-islands-pseudo-button"
@import "select/skin-islands-select"
@import "modal/skin-islands-modal"
@import "form/skin-islands-form"
@import "checkbox/skin-islands-checkbox"
@import "radio/skin-islands-radio"
@import "input/skin-islands-input"
@import "arrow/skin-islands-arrow"
