
// Setting variables
gap_xs ?= 0.6*rem
gap_s  ?= 1.0*rem
gap_m  ?= 1.6*rem
gap_l  ?= 2.0*rem

$text_m ?= 1.5*rem
$text_s ?= 1.3*rem

$color_text ?= #333
$color_text_misc ?= rgba(#000, 0.4)

// Importing skins
@import "isle/skin-islands-isle"
@import "text/skin-islands-text"
@import "link/skin-islands-link"
@import "button/skin-islands-button"
@import "button/pseudo-/skin-islands-pseudo-button"
@import "button/skin-islands-button_checked"
@import "button/skin-islands-button_focus"
@import "modal/skin-islands-modal"
@import "form/skin-islands-form"
@import "checkbox/skin-islands-checkbox"
@import "radio/skin-islands-radio"
@import "input/skin-islands-input"
