
// Setting variables
gap_xs ?= 0.6*rem
gap_s  ?= 1.0*rem
gap_m  ?= 1.6*rem
gap_l  ?= 2.0*rem

$text_m ?= 1.5*rem
$text_s ?= 1.3*rem

$color_text ?= #333
$color_text_misc ?= rgba(#000, 0.4)

// Importing skins
@import "skin-islands-isle"
@import "skin-islands-text"
@import "skin-islands-link"
@import "skin-islands-button"
@import "skin-islands-pseudo-button"
@import "skin-islands-button_checked"
@import "skin-islands-button_focus"
@import "skin-islands-modal"
@import "skin-islands-checkbox"
@import "skin-islands-radio"
@import "skin-islands-input"
