
skin-islands-input()
  skin-islands-input-box(arguments)
  skin-islands-input-view(arguments)

skin-islands-input-box()
  -moz-box-sizing: border-box
  box-sizing: border-box

  border: 1px solid transparent
  padding: 0.5*gap_s gap_s

  if small in arguments
    line-height: gap_m
    min-height:  gap_m + gap_s + 0.2*rem
    font-size: text_s
  else
    line-height: gap_l
    min-height:  gap_l + gap_s + 0.2*rem
    font-size: text_m

skin-islands-input-view()
  border: 1px solid transparent unless @border
  border-color: rgba(#000, 0.38) rgba(#000, 0.27) rgba(#000, 0.16)

  background: -webkit-linear-gradient(#FFF,#FFF)
  background: -moz-linear-gradient(#FFF,#FFF)
  background: linear-gradient(#FFF,#FFF)

  background-clip: padding-box
  background-size: 16px 16px

  box-shadow: 0 1px 0 rgba(#FFF, 0.2), inset 0 1px 1px rgba(#000, 0.1)

  unless no-focus in arguments
    &:not(.is-disabled):focus
      skin-islands-input_focus(arguments)

skin-islands-input_focus()
  outline: none
  border-color: rgba(#4E3E02, 0.515) rgba(#5E4C02, 0.42) rgba(#755D00, 0.335)

  box-shadow: 0 0 6px 2px rgba(#FFCC00, 0.7), @box-shadow


skin-islands-input-label()
  skin-islands-link(#000)

  border-right: 1px solid rgba(#000, 0.08)
  margin-right: gap_s

  font-size: gap_m

  background: -webkit-linear-gradient(rgba(#FFE178, 0.1), rgba(#000, 0.02))
  background: -moz-linear-gradient(rgba(#FFE178, 0.1), rgba(#000, 0.02))
  background: linear-gradient(rgba(#FFE178, 0.1), rgba(#000, 0.02))
