h1,
h2,
h3,
.page,
.page-body,
.text h4,
.text h5,
.text h6,
.text p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.page-content:before,
.content-section:before {
  content: "";
  display: table;
}

.page-content:after,
.content-section:after {
  content: "";
  display: table;
  clear: both;
}

.modal-close {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2em;
  background: 50% no-repeat;
}

.header-logo-text {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px) !important;
}

.modal-wrap:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal,
.dropdown {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.modal,
.dropdown {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.is-disabled {
  cursor: default !important;
  opacity: 0.6;
}

.is-disabled:focus {
  outline: 0;
}

.is-disabled .is-disabled {
  opacity: 1;
}

.header-service:before {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg);
  -ms-transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg);
  transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg);
}

.modal-close {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuMjA5Yy0zLjc1MSAwLTYuNzkxIDMuMDQtNi43OTEgNi43OTEgMCAzLjc0OSAzLjA0IDYuNzg5IDYuNzkxIDYuNzg5IDMuNzQ5IDAgNi43ODktMy4wNCA2Ljc4OS02Ljc4OSAwLTMuNzUxLTMuMDQtNi43OTEtNi43ODktNi43OTF6bTMuOTkgOS4zNTVsLTEuNDI2IDEuNDI2LTIuNTY0LTIuNTY0LTIuNTY0IDIuNTY0LTEuNDI2LTEuNDI2IDIuNTY0LTIuNTY0LTIuNTY0LTIuNTY0IDEuNDI2LTEuNDI2IDIuNTY0IDIuNTY0IDIuNTY0LTIuNTY0IDEuNDI2IDEuNDI2LTIuNTY0IDIuNTY0IDIuNTY0IDIuNTY0eiIvPjwvc3ZnPg==");
}

.modal-close {
  cursor: pointer;
  opacity: 0.2;
}

.modal-close:hover {
  opacity: 1;
}

.page {
  font-size: 62.5%;
  color: #333;
  background: #f6f5f3;
}

.page-body {
  font: 1.5rem/2.2rem Arial, sans-serif;
  background: transparent;
}

.page-content {
  padding: 2rem;
}

.is-hidden {
  display: none !important;
}

.site-nav {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  padding: 0 1.2rem;
}

.site-nav-link,
.site-nav-outer-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 1rem 0.8rem;
}

.site-nav-link:hover,
.site-nav-outer-link:hover {
  color: #d00;
}

.site-nav-outer-link {
  cursor: pointer;
  color: #070;
  text-decoration: none;
  float: right;
}

.site-nav-outer-link:hover {
  color: #d00;
}

a.site-nav-link:not([href]) {
  color: #000;
  cursor: default;
}

a.site-nav-link:not([href]):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0.8rem;
  bottom: auto;
  left: 0.8rem;
  border-top: 2px solid;
}

.secondary {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.text h1 {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.text h2 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.text h3 {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.text h4 {
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.text h5 {
  margin-bottom: 0.6rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.text h6 {
  margin-bottom: 0.6rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
}

.text p {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  max-width: 42em;
}

.text p.secondary {
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.text ol,
.text ul {
  max-width: 42em;
}

.example,
.content-section > blockquote {
  padding: 0 0 0 2rem;
  box-shadow: inset 0.2rem 0 #ddd;
  margin: 0 0 2rem;
}

.example-title {
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #999;
}

.example-title-mark {
  color: #444;
}

span.example-source {
  margin-top: 1rem;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

code[class*="language-"] {
  background: rgba(245,242,240,0.6);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.token a {
  color: inherit;
}

code,
pre,
kbd {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.87em;
}

pre > code {
  font-size: 1em;
}

pre {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  padding: 0;
  margin: 0 -1.6rem 1.6rem;
}

li > pre {
  margin-left: 0;
}

blockquote pre {
  margin-top: 1rem;
  margin-left: -1.8rem;
}

pre > code {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 1.6rem;
  margin-bottom: 0;
}

blockquote pre > code {
  padding-left: 1.8rem;
}

blockquote > hr {
  margin: 0;
  border: 0;
}

hr {
  margin: 2rem 0;
  padding: 0;
  border: none;
  border-top: 1px solid #dddcda;
}

.example-code > pre.language-css:before {
  content: "Внимание: представленный тут CSS — сгенерённый и не оптимизированный. Не используйте его.";
  display: block;
  padding: 1.6rem 2rem;
}

.link {
  cursor: pointer;
  color: #22c;
  text-decoration: underline;
}

.link:hover {
  color: #d00;
}

.outer-link {
  cursor: pointer;
  color: #070;
  text-decoration: underline;
}

.outer-link:hover {
  color: #d00;
}

.pseudo-link {
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.pseudo-link:hover {
  color: #d00;
}

.complex-link {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0)) no-repeat;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)) no-repeat;
  background-size: 16px 16px;
}

.complex-link:hover {
  color: #d00;
}

.link-inner {
  text-decoration: underline;
}

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  white-space: nowrap;
  text-align: center;
  z-index: 99;
}

.modal {
  visibility: visible;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 8px 30px -5px rgba(0,0,0,0.5);
}

.modal-content {
  padding: 0 2rem 0 2rem;
}

.modal-content:before {
  content: "";
  display: table;
  margin-bottom: 1.6rem;
}

.modal-content:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 1.6rem;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 0;
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  background: rgba(0,0,0,0.3);
}

.dropdown {
  visibility: visible;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 8px 30px -5px rgba(0,0,0,0.5);
}

.dropdown_to_top .dropdown-tail {
  bottom: 0;
  left: 50%;
  margin: -1em -0.5em;
  clip: rect(0,99em,99em,-99em);
}

.dropdown_to_top .dropdown-tail:before {
  top: -50%;
}

.dropdown_to_right .dropdown-tail {
  top: 50%;
  left: 0;
  margin: -0.5em -1em;
  clip: rect(-99em,auto,99em,-99em);
}

.dropdown_to_right .dropdown-tail:before {
  left: 50%;
}

.dropdown_to_bottom .dropdown-tail {
  top: 0;
  left: 50%;
  margin: -1em -0.5em;
  clip: rect(-99em,99em,auto,-99em);
}

.dropdown_to_bottom .dropdown-tail:before {
  top: 50%;
}

.dropdown_to_left .dropdown-tail {
  top: 50%;
  right: 0;
  margin: -0.5em -1em;
  clip: rect(-99em,99em,99em,0);
}

.dropdown_to_left .dropdown-tail:before {
  left: -50%;
}

.dropdown-content {
  padding: 0 1rem 0 1rem;
}

.dropdown-content:before {
  content: "";
  display: table;
  margin-bottom: 0.6rem;
}

.dropdown-content:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 0.6rem;
}

.dropdown-tail {
  position: absolute;
  font-size: 1.6rem;
  width: 1em;
  height: 1em;
  clip: rect(0,0,0,0);
}

.dropdown-tail:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 8px 8px 30px -5px rgba(0,0,0,0.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form {
  position: relative;
  display: block;
  cursor: default;
}

.form-fieldset {
  position: relative;
  display: block;
  margin-bottom: 1.6rem;
}

.form-fieldset + .form-fieldset {
  margin-top: 2rem;
}

.form-legend {
  position: relative;
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 1rem;
}

.form-field {
  position: relative;
  display: block;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.form-field:last-child {
  margin-bottom: 0;
}

.form-field .form-field + .form-field {
  float: left;
  width: 100%;
}

.form-inline-field {
  position: relative;
  display: inline-block;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 1rem;
}

.form-field-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  vertical-align: baseline;
  margin-right: 2rem;
}

.form-field-content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  vertical-align: baseline;
}

.form-hint {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  vertical-align: baseline;
  width: 18rem;
  margin-left: 4rem;
}

.form-hint-title {
  position: relative;
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.form-hint-content {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 0;
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: rgba(0,0,0,0.5);
}

.form-pseudo-link {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.form-pseudo-link:hover {
  color: #d00;
}

.default-form {
  position: relative;
  display: block;
  cursor: default;
}

.default-form .form-field-label {
  width: 18rem;
}

.default-form .form-field-content {
  width: 30rem;
}

.default-form .form-field-content:first-child {
  margin-left: 20rem;
}

.tabs {
  position: relative;
  display: block;
  margin: 0 -0.8rem;
  font-size: 1.5rem;
}

.tabs-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  line-height: 2em;
  padding: 0.3rem 0.8rem;
}

.tabs-item:hover {
  color: #d00;
}

.tabs-item_selected,
.tabs-item_selected:hover {
  color: #000;
  cursor: default;
}

.tabs-item_selected:before,
.tabs-item_selected:hover:before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0.8rem;
  bottom: auto;
  left: 0.8rem;
  border-top: 2px solid;
}

.small-tabs {
  position: relative;
  display: block;
  margin: 0 -0.8rem;
  font-size: 1.3rem;
}

.island-content .tabs {
  margin-top: -1.6rem;
  margin-bottom: 0.6rem;
}

.header {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  z-index: 2;
  padding: 1.6rem 2rem;
}

.header-logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: -1px;
  width: 98px;
  height: 37px;
  margin-right: 2rem;
}

.header-logo-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg") no-repeat 50%;
}

.header-service {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0.8rem 1.5rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  background: #ffdb4c;
  white-space: nowrap;
  margin-right: 1.212rem;
}

.header-service:before {
  content: "";
  width: 2.969848481766999rem;
  height: 2.969848481766999rem;
  background: -webkit-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  -webkit-transform: translate(-50%, -50%) scale(0.5, 1) rotate(-135deg) translateZ(0);
}

.content {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  margin-left: 320px;
}

.content-section {
  position: relative;
  display: block;
  padding: 1.6rem 1.6rem 0;
}

.content-section > h1,
.content-section > h2 {
  padding: 1.6rem 1.6rem 0;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
  border-top: 1px solid rgba(0,0,0,0.15);
}

.content-section > h1:first-child,
.content-section > h2:first-child {
  padding-top: 0;
  border-top: 0;
}

.content-section > h1 + h2 {
  padding-top: 0;
  border-top: 0;
}

.content-section a:not([class]) {
  cursor: pointer;
  color: #22c;
  text-decoration: underline;
}

.content-section a:not([class]):hover {
  color: #d00;
}

.content-section a:not([class])[href^=http] {
  cursor: pointer;
  color: #070;
  text-decoration: underline;
}

.content-section a:not([class])[href^=http]:hover {
  color: #d00;
}

.aside {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  position: absolute;
  width: 300px;
}

.aside_fixed {
  position: fixed;
  top: 2rem;
}

.aside-nav {
  overflow: auto;
  overflow-x: hidden;
}

.aside-nav-item {
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0.6rem 1rem;
  padding-right: 2.6rem;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  margin-top: 1px;
}

.aside-nav-item:first-child {
  margin-top: 0;
  box-shadow: none;
}

.aside-nav-item:hover {
  background: #ecf4f9;
}

.aside-nav-item.is-active {
  cursor: default;
  color: #fff;
  background: #1981ca;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15), 0 -1px 0 #1981ca, 0 1px 0 #1981ca;
}

.aside-nav-item_2 {
  padding-left: 3.2rem;
  font-size: 1.3rem;
}

.aside-nav-item_3 {
  padding-left: 4.800000000000001rem;
  font-size: 1.3rem;
}

.aside-nav-item_4 {
  padding-left: 6.4rem;
  font-size: 1.3rem;
}

.aside-nav-item_5 {
  padding-left: 8rem;
  font-size: 1.3rem;
}

.aside-nav-item_6 {
  padding-left: 9.600000000000001rem;
  font-size: 1.3rem;
}

.aside-nav-item:after {
  content: '›';
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  line-height: 3.2rem;
}