h1,h2,h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.page {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 62.5%;
  background: #f6f5f3;
}
.page-body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font: 1.5rem/2.2rem Arial, sans-serif;
  background: transparent;
}
.page-content {
  padding: 2rem;
}
.page-content:before {
  content: "";
  display: table;
}
.page-content:after {
  content: "";
  display: table;
  clear: both;
}
.is-hidden {
  display: none !important;
}
.header {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  z-index: 2;
  padding: 1.6rem 2rem;
}
.header-logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: -1px;
  width: 98px;
  height: 37px;
  margin-right: 2rem;
}
.header-logo-text {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px) !important;
}
.header-logo-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg") no-repeat 50%;
}
.header-service {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  background: #ffdb4c;
}
.header-service:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.687005769217761rem;
  height: 2.687005769217761rem;
  -webkit-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg) translateZ(0);
  -moz-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  -o-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  background: -webkit-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: -moz-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
}
.header-logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: -1px;
  width: 98px;
  height: 37px;
  margin-right: 2rem;
}
.header-logo-text {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px) !important;
}
.header-logo-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg") no-repeat 50%;
}
.header-service {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  background: #ffdb4c;
}
.header-service:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.687005769217761rem;
  height: 2.687005769217761rem;
  -webkit-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg) translateZ(0);
  -moz-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  -o-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  background: -webkit-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: -moz-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
}
.site-nav {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  padding: 0 1.2rem;
}
.site-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 1rem 0.8rem;
}
.site-nav-link:hover {
  color: #d00;
}
a.site-nav-link:not([href]) {
  color: #000;
  cursor: default;
}
a.site-nav-link:not([href]):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0.8rem;
  bottom: auto;
  left: 0.8rem;
  border-top: 2px solid;
}
.content {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  margin-left: 320px;
}
.content-section {
  position: relative;
  display: block;
  padding: 1.6rem 1.6rem 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.content-section:before {
  content: "";
  display: table;
}
.content-section:after {
  content: "";
  display: table;
  clear: both;
}
.content-section:first-child {
  border-top: 0;
}
.aside {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  position: absolute;
  width: 300px;
}
.aside-nav {
  overflow: auto;
  overflow-x: hidden;
}
.aside-nav-item {
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0.6rem 1rem;
  padding-right: 2.6rem;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  margin-top: 1px;
}
.aside-nav-item:first-child {
  margin-top: 0;
  box-shadow: none;
}
.aside-nav-item:hover {
  background: #ecf4f9;
}
.aside-nav-item.is-active {
  cursor: default;
  color: #fff;
  background: #1981ca;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15), 0 -1px 0 #1981ca, 0 1px 0 #1981ca;
}
.aside-nav-item:after {
  content: '›';
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  line-height: 3.2rem;
}
.text h1 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.text h2 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.text h3 {
  margin-bottom: 1.6rem;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.text h4 {
  margin-bottom: 1.6rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.text h5 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.text h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
}
.text p {
  margin-bottom: 1.6rem;
}
.text p.secondary {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 0.6rem;
}
.example {
  padding-left: 2rem;
  box-shadow: inset 2px 0 #ddd;
  margin-bottom: 2rem;
}
.example-title {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 0.6rem;
  color: #999;
}
.example-title-mark {
  color: #444;
}
.example-isle {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  height: 100px;
  width: 200px;
}
.example-fly-isle {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 8px 30px -5px rgba(0,0,0,0.5);
  height: 100px;
  width: 200px;
}
