@import "stylobate"
@import "_skins/islands/isle"
@import "_skins/islands/link"

// Variables

gap_xs = 6px
gap_s = 10px
gap_m = 16px
gap_l = 20px


// Move to page kind?
.page
  padding: 0
  margin: 0

  font: 15px/22px Arial, sans-serif

  background: #E8E7E4

.page-body
  padding: 0
  margin: 0

  background: transparent

h1,h2
  padding: 0
  margin: 0

  font-weight: normal


.header,
.site-nav
  kind: block
  skin: isle

.header
  z-index: 2 // So it would be highter than `.site-nav`
  padding: gap_m gap_l

.header-logo,
.header-service
  kind: block inline

.header-logo
  // How to deal with those?
  top: -1px

  // Could we move this to `block`? So it would be `kind: block inline 95px 37px`.
  // Also, it would be cool to came up with a way to set margins/paddings in a block way.
  width: 98px
  height: 37px

  margin-right: gap_l

.header-logo-text
  kind: hidden visually

.header-logo-image
  kind: fill "http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg"

.header-service
  // There is no available gaps to make such paddings, so the closest are here
  padding: gap_xs gap_s

  // This could be `skin: h3`
  font-size: 18px
  line-height: 26px

  background: #FFDB4C

.site-nav
  padding: 0 (gap_l - 0.5*gap_m)
  // It would be nice to make nav/nav-item skin/pattern with padding here and there


.site-nav-link
  kind: block inline
  skin: link hover nou

  padding: gap_s 0.5*gap_m

a.site-nav-link:not([href])
  skin: link_selected

  &:before
    content: ""
    kind: fill top 0 0.5*gap_m

    border-top: 2px solid
