.page {
  padding: 0;
  margin: 0;
  font: 15px/22px Arial, sans-serif;
  background: #e8e7e4;
}
.page-body {
  padding: 0;
  margin: 0;
  background: transparent;
}
h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.header,
.site-nav {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
}
.header {
  position: relative;
  padding: 14px 20px;
}
.header-logo,
.header-service {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.site-nav {
  padding: 0 12px;
}
.site-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 10px 8px;
}
.site-nav-link:hover {
  color: #d00;
}
a.site-nav-link:not([href]) {
  color: #000;
  cursor: default;
}
a.site-nav-link:not([href]):before {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  bottom: auto;
  left: 8px;
  border-top: 2px solid;
}
