h1,h2,h3,
.page,
.page-body,
.text h4,
.text h5,
.text h6,
.text p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.button,
.small-button,
.fly-button,
.action-button,
.small-action-button,
.pseudo-button,
.small-pseudo-button,
.super-button,
.simple-button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  overflow: visible;
}
.button::-moz-focus-inner,
.small-button::-moz-focus-inner,
.fly-button::-moz-focus-inner,
.action-button::-moz-focus-inner,
.small-action-button::-moz-focus-inner,
.pseudo-button::-moz-focus-inner,
.small-pseudo-button::-moz-focus-inner,
.super-button::-moz-focus-inner,
.simple-button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.input,
.small-input,
.input-controller {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font: inherit;
}
.input:focus,
.small-input:focus,
.input-controller:focus {
  outline: none;
}
.checkbox,
.radio,
.normal-checkbox,
.small-radio,
.modal-close,
.field-reset,
.icon-remove,
.active-icon-remove,
.icon-notification,
.userpic,
.user-pic {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-top: -0.2em;
  background: 50% no-repeat;
}
.toggler-controller,
.header-logo-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px) !important;
}
.modal-wrap:after {
  content: "";
  display: inline;
  zoom: 1;
  vertical-align: middle;
  height: 100%;
}
.modal,
.user-pic,
.user-name {
  display: inline;
  zoom: 1;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}
.button,
.small-button,
.fly-button,
.action-button,
.small-action-button,
.pseudo-button,
.small-pseudo-button,
.super-button,
.simple-button {
  display: inline;
  zoom: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  vertical-align: baseline;
}
.modal {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.group {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  white-space: nowrap;
}
.group-middle,
.group-end,
.group-item:not(:first-child):not(:last-child),
.group > .toggle-button:not(:first-child):not(:last-child),
.group-item:last-child,
.group > .toggle-button:last-child,
.group > .toggler:not(:first-child):not(:last-child),
.group > .toggler:last-child {
  margin-left: -1px;
}
.input,
.small-input,
.field,
.small-field,
.input-controller {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  max-width: 100%;
  cursor: text;
  vertical-align: baseline;
}
.file-input {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  overflow: hidden;
}
.file-input-controller {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 500px;
  opacity: 0;
}
.file-intruder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}
.file-intruder-inner {
  float: right;
  text-align: right;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.file-intruder-input {
  position: relative;
  z-index: 11;
  display: inline;
  zoom: 1;
  vertical-align: 0;
  padding: 0;
  margin: -5em 0 0 -20em;
  cursor: pointer;
  font-size: 80px;
  opacity: 0;
}
.field-content {
  position: static;
  display: block;
  overflow: hidden;
  height: 100%;
}
.field-left,
.field-label {
  position: relative;
  z-index: 9;
  float: left;
}
.field-right,
.field-reset {
  position: relative;
  z-index: 9;
  float: right;
}
.is-disabled {
  cursor: default !important;
  opacity: 0.6;
}
.is-disabled:focus {
  outline: 0;
}
.is-disabled .is-disabled {
  opacity: 1;
}
.arrow-body > .arrow-tail {
  position: absolute;
  left: 100%;
  top: 0;
  height: 0;
  border-style: dashed solid;
}
.modal-close,
.field-reset,
.icon-remove,
.active-icon-remove {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDEuMjA5Yy0zLjc1MSAwLTYuNzkxIDMuMDQtNi43OTEgNi43OTEgMCAzLjc0OSAzLjA0IDYuNzg5IDYuNzkxIDYuNzg5IDMuNzQ5IDAgNi43ODktMy4wNCA2Ljc4OS02Ljc4OSAwLTMuNzUxLTMuMDQtNi43OTEtNi43ODktNi43OTF6bTMuOTkgOS4zNTVsLTEuNDI2IDEuNDI2LTIuNTY0LTIuNTY0LTIuNTY0IDIuNTY0LTEuNDI2LTEuNDI2IDIuNTY0LTIuNTY0LTIuNTY0LTIuNTY0IDEuNDI2LTEuNDI2IDIuNTY0IDIuNTY0IDIuNTY0LTIuNTY0IDEuNDI2IDEuNDI2LTIuNTY0IDIuNTY0IDIuNTY0IDIuNTY0eiIvPjwvc3ZnPg==");
}
.icon-notification {
  height: 15px;
  min-width: 9px;
  padding: 0 3px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  color: #fff;
  background: #f00;
}
.modal-close,
.field-reset,
.active-icon-remove {
  cursor: pointer;
  opacity: 0.2;
}
.modal-close:hover,
.field-reset:hover,
.active-icon-remove:hover {
  opacity: 1;
}
.page {
  font-size: 62.5%;
  color: #333;
  background: #f6f5f3;
}
.page-body {
  font: 15px/22px Arial, sans-serif;
  background: transparent;
}
.page-content {
  zoom: 1;
  padding: 20px;
}
.is-hidden {
  display: none !important;
}
.group-start:before {
  right: 0;
}
input.group-start,
label.group-start {
  border-right-color: transparent;
}
.group-middle:before {
  right: 0;
}
input.group-middle,
label.group-middle {
  border-right-color: transparent;
}
.group-item:first-child:before,
.group > .toggle-button:first-child:before {
  right: 0;
}
input.group-item:first-child,
input.group > .toggle-button:first-child,
label.group-item:first-child,
label.group > .toggle-button:first-child {
  border-right-color: transparent;
}
.group-item:not(:first-child):not(:last-child):before,
.group > .toggle-button:not(:first-child):not(:last-child):before {
  right: 0;
}
input.group-item:not(:first-child):not(:last-child),
input.group > .toggle-button:not(:first-child):not(:last-child),
label.group-item:not(:first-child):not(:last-child),
label.group > .toggle-button:not(:first-child):not(:last-child) {
  border-right-color: transparent;
}
.group > .toggler:not(:last-child) > .toggler-view:before {
  right: 0;
}
input.group > .toggler:not(:last-child) > .toggler-view,
label.group > .toggler:not(:last-child) > .toggler-view {
  border-right-color: transparent;
}
.site-nav {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #d9d9d9;
  margin: -1px 0;
  padding: 0 12px;
}
.site-nav-link,
.site-nav-outer-link {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 10px 8px;
}
.site-nav-link:hover,
.site-nav-outer-link:hover {
  color: #d00;
}
.site-nav-outer-link {
  cursor: pointer;
  color: #070;
  text-decoration: none;
  float: right;
}
.site-nav-outer-link:hover {
  color: #d00;
}
a.site-nav-link:not([href]) {
  color: #000;
  cursor: default;
}
a.site-nav-link:not([href]):before {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  bottom: auto;
  left: 8px;
  border-top: 2px solid;
}
.secondary {
  font-size: 13px;
  line-height: 18px;
}
.text h1 {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 28px;
}
.text h2 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
}
.text h3 {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 26px;
}
.text h4 {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 16px;
}
.text h5 {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}
.text h6 {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.text p {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 22px;
  max-width: 42em;
}
.text p.secondary {
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 18px;
}
.text ol,
.text ul {
  max-width: 42em;
}
.example,
.content-section > blockquote {
  padding: 0 0 0 20px;
  margin: 0 0 20px;
}
.example-title {
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 18px;
  color: #999;
}
.example-title-mark {
  color: #444;
}
span.example-source {
  margin-top: 10px;
}
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
}
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}
@media print {
}
code[class*="language-"] {
  background: rgba(245,242,240,0.6);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #778090;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.token a {
  color: inherit;
}
code,
pre,
kbd {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.87em;
  zoom: 1;
}
pre > code {
  font-size: 1em;
}
pre {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  padding: 0;
  margin: 0 -16px 16px;
}
li > pre {
  margin-left: 0;
}
blockquote > pre {
  margin-top: 10px;
  margin-left: -18px;
}
pre > code {
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 10px 16px;
  margin-bottom: 0;
}
blockquote > pre > code {
  padding-left: 18px;
}
blockquote > hr {
  margin: 0;
  border: 0;
}
hr {
  margin: 20px 0;
  padding: 0;
  border: none;
  border-top: 1px solid #dddcda;
}
.isle {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: -1px 0;
}
.flying-isle {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: -1px 0;
}
.isle-content {
  padding: 16px;
}
.isle-content > .tabs:first-child {
  margin-top: -16px;
  margin-bottom: 10px;
}
.link {
  cursor: pointer;
  color: #22c;
  text-decoration: underline;
}
.link:hover {
  color: #d00;
}
.outer-link {
  cursor: pointer;
  color: #070;
  text-decoration: underline;
}
.outer-link:hover {
  color: #d00;
}
.pseudo-link {
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.pseudo-link:hover {
  color: #d00;
}
.complex-link {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.complex-link:hover {
  color: #d00;
}
.link-inner {
  text-decoration: underline;
}
.button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 14px;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
}
.button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.button .button-content {
  position: relative;
  display: block;
}
button.button .button-content {
  margin: -1px -1px -3px;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .button,
.button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .button:after,
.button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover + .button,
.button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover + .button:before,
.button:not(.is-disabled):hover:before {
  background: #fbfaf9;
}
.small-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 12px;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
}
.small-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.small-button .button-content {
  position: relative;
  display: block;
}
button.small-button .button-content {
  margin: -1px -1px -3px;
}
.small-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .small-button,
.small-button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .small-button:after,
.small-button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover + .small-button,
.small-button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover + .small-button:before,
.small-button:not(.is-disabled):hover:before {
  background: #fbfaf9;
}
.fly-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 14px;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
}
.fly-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.fly-button .button-content {
  position: relative;
  display: block;
}
button.fly-button .button-content {
  margin: -1px -1px -3px;
}
.fly-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .fly-button,
.fly-button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .fly-button:after,
.fly-button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover + .fly-button,
.fly-button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover + .fly-button:before,
.fly-button:not(.is-disabled):hover:before {
  background: #fbfaf9;
}
.action-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 14px;
  background: #ffd52e;
  border: 1px solid;
  border-color: #bfb298 #a99c82 #9b8e75;
}
.action-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.action-button .button-content {
  position: relative;
  display: block;
}
button.action-button .button-content {
  margin: -1px -1px -3px;
}
.action-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .action-button,
.action-button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .action-button:after,
.action-button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover:not(:checked) + .action-button,
.action-button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover:not(:checked) + .action-button:before,
.action-button:not(.is-disabled):hover:before {
  background: #fd5;
}
.small-action-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 12px;
  background: #ffd52e;
  border: 1px solid;
  border-color: #bfb298 #a99c82 #9b8e75;
}
.small-action-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.small-action-button .button-content {
  position: relative;
  display: block;
}
button.small-action-button .button-content {
  margin: -1px -1px -3px;
}
.small-action-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .small-action-button,
.small-action-button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .small-action-button:after,
.small-action-button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover:not(:checked) + .small-action-button,
.small-action-button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover:not(:checked) + .small-action-button:before,
.small-action-button:not(.is-disabled):hover:before {
  background: #fd5;
}
.pseudo-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  border: 1px solid #cbcbcb;
  font-size: 15px;
  line-height: 22px;
  padding: 2px 10px;
}
.pseudo-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.pseudo-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pseudo-button .button-content {
  position: relative;
  display: block;
}
.pseudo-button:not(.is-disabled):focus {
  outline: 0;
}
.pseudo-button:not(.is-disabled):focus:after {
  z-index: 9;
}
.small-pseudo-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  border: 1px solid #cbcbcb;
  font-size: 13px;
  line-height: 18px;
  padding: 2px 9px;
}
.small-pseudo-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.small-pseudo-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.small-pseudo-button .button-content {
  position: relative;
  display: block;
}
.small-pseudo-button:not(.is-disabled):focus {
  outline: 0;
}
.small-pseudo-button:not(.is-disabled):focus:after {
  z-index: 9;
}
.toggle-button.is-checked,
.toggle-button.is-checked:hover {
  background: #fff1c0;
  border-color: #999278 #b4ad93 #ccc4aa;
}
.super-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding: 4px 12px;
  background: #ffd52e;
  border: 1px solid;
  border-color: #bfb298 #a99c82 #9b8e75;
}
.super-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.super-button .button-content {
  position: relative;
  display: block;
}
button.super-button .button-content {
  margin: -1px -1px -3px;
}
.super-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .super-button,
.super-button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .super-button:after,
.super-button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover:not(:checked) + .super-button,
.super-button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover:not(:checked) + .super-button:before,
.super-button:not(.is-disabled):hover:before {
  background: #fd5;
}
.super-button.is-checked,
.super-button.is-checked:hover {
  background: #fff1c0;
  border-color: #999278 #b4ad93 #ccc4aa;
}
.simple-button {
  position: relative;
  vertical-align: baseline;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 14px;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
}
.simple-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: -1;
}
.simple-button .button-content {
  position: relative;
  display: block;
}
button.simple-button .button-content {
  margin: -1px -1px -3px;
}
.simple-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .simple-button,
.simple-button:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .simple-button:after,
.simple-button:not(.is-disabled):focus:after {
  z-index: 9;
}
input[type=file]:hover + .simple-button,
.simple-button:not(.is-disabled):hover {
  background: #b0b0b0;
}
input[type=file]:hover + .simple-button:before,
.simple-button:not(.is-disabled):hover:before {
  background: #fbfaf9;
}
.checkbox {
  position: relative;
  vertical-align: middle;
  color: #333;
  width: 1em;
  height: 1em;
  padding: 0 1px 1px 0;
  line-height: 1em;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
  text-align: center;
  margin-right: 6px;
}
.checkbox:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.checkbox .button-content {
  position: relative;
  display: block;
}
button.checkbox .button-content {
  margin: -1px -1px -3px;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .checkbox,
.checkbox:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .checkbox:after,
.checkbox:not(.is-disabled):focus:after {
  z-index: 9;
}
.checkbox > .checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 13px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  margin: -13px 0 0 -2px;
  color: #000;
}
input:not(:checked) + .checkbox > .checkbox-icon {
  visibility: hidden;
}
.radio {
  position: relative;
  vertical-align: middle;
  color: #333;
  width: 1em;
  height: 1em;
  padding: 0 1px 1px 0;
  line-height: 1em;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
  text-align: center;
  margin-right: 6px;
}
.radio:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.radio .button-content {
  position: relative;
  display: block;
}
button.radio .button-content {
  margin: -1px -1px -3px;
}
.radio:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .radio,
.radio:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .radio:after,
.radio:not(.is-disabled):focus:after {
  z-index: 9;
}
.radio > .radio-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  background: #000;
}
input:not(:checked) + .radio > .radio-icon {
  visibility: hidden;
}
.normal-checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  vertical-align: middle;
  color: #333;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
  text-align: center;
  margin-right: 6px;
}
.normal-checkbox:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.normal-checkbox .button-content {
  position: relative;
  display: block;
}
button.normal-checkbox .button-content {
  margin: -1px -1px -3px;
}
.normal-checkbox:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .normal-checkbox,
.normal-checkbox:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .normal-checkbox:after,
.normal-checkbox:not(.is-disabled):focus:after {
  z-index: 9;
}
.normal-checkbox > .checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 13px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  margin: -13px 0 0 -2px;
  color: #000;
}
input:not(:checked) + .normal-checkbox > .checkbox-icon {
  visibility: hidden;
}
.small-radio {
  width: 14px;
  height: 14px;
  position: relative;
  vertical-align: middle;
  color: #333;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #cbcbcb #b2b2b2 #9a9a9a;
  text-align: center;
  margin-right: 6px;
}
.small-radio:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.small-radio .button-content {
  position: relative;
  display: block;
}
button.small-radio .button-content {
  margin: -1px -1px -3px;
}
.small-radio:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=file]:focus + .small-radio,
.small-radio:not(.is-disabled):focus {
  outline: 0;
}
input[type=file]:focus + .small-radio:after,
.small-radio:not(.is-disabled):focus:after {
  z-index: 9;
}
.small-radio > .radio-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  background: #000;
}
input:not(:checked) + .small-radio > .radio-icon {
  visibility: hidden;
}
.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  white-space: nowrap;
  text-align: center;
  z-index: 99;
}
.modal {
  visibility: visible;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: -1px 0;
}
.modal-content {
  padding: 16px 20px 16px 20px;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 0;
}
.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  background: rgba(0,0,0,0.3);
}
.form {
  position: relative;
  display: block;
  cursor: default;
}
.form-fieldset {
  position: relative;
  display: block;
  margin-bottom: 16px;
}
.form-fieldset + .form-fieldset {
  margin-top: 20px;
}
.form-legend {
  position: relative;
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}
.form-field {
  position: relative;
  display: block;
  white-space: nowrap;
  margin-bottom: 10px;
}
.form-field:last-child {
  margin-bottom: 0;
}
.form-field .form-field + .form-field {
  float: left;
  width: 100%;
}
.form-inline-field {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 10px;
}
.form-field-label {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  white-space: normal;
  vertical-align: baseline;
  margin-right: 20px;
}
.form-field-content {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  white-space: normal;
  vertical-align: baseline;
}
.form-hint {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  white-space: normal;
  vertical-align: baseline;
  width: 180px;
  margin-left: 40px;
}
.form-hint-title {
  position: relative;
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 26px;
}
.form-hint-content {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 0;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0,0,0,0.4);
}
.form-pseudo-link {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.form-pseudo-link:hover {
  color: #d00;
}
.default-form {
  position: relative;
  display: block;
  cursor: default;
}
.default-form .form-field-label {
  width: 180px;
}
.default-form .form-field-content {
  width: 300px;
}
.default-form .form-field-content:first-child {
  margin-left: 200px;
}
.toggler {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  cursor: pointer;
}
input:checked + .toggler-view,
input:checked + .toggler-view:hover {
  background: #fff1c0;
  border-color: #999278 #b4ad93 #ccc4aa;
}
:focus + .toggler-view {
  outline: 0;
}
:focus + .toggler-view:after {
  z-index: 9;
}
.input {
  width: 400px;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 20px;
  min-height: 32px;
  font-size: 15px;
  border-color: rgba(0,0,0,0.38) rgba(0,0,0,0.27) rgba(0,0,0,0.16);
  background: linear-gradient(#fff, #fff);
}
.input:not(.is-disabled):focus {
  outline: none;
  border-color: rgba(78,62,2,0.515) rgba(94,76,2,0.42) rgba(117,93,0,0.335);
}
.input:focus {
  z-index: 9;
}
.small-input {
  width: 400px;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 16px;
  min-height: 28px;
  font-size: 13px;
  border-color: rgba(0,0,0,0.38) rgba(0,0,0,0.27) rgba(0,0,0,0.16);
  background: linear-gradient(#fff, #fff);
}
.small-input:not(.is-disabled):focus {
  outline: none;
  border-color: rgba(78,62,2,0.515) rgba(94,76,2,0.42) rgba(117,93,0,0.335);
}
.small-input:focus {
  z-index: 9;
}
.field {
  width: 400px;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 20px;
  min-height: 32px;
  font-size: 15px;
}
.field-left {
  margin: -5px 0 -5px -10px;
  padding: 5px 10px 5px 10px;
}
.field-right {
  margin: -5px -10px -5px 0;
  padding: 5px 10px 5px 10px;
}
.small-field {
  width: 400px;
  border: 1px solid transparent;
  padding: 5px 10px;
  line-height: 16px;
  min-height: 28px;
  font-size: 13px;
}
.input-controller {
  width: 400px;
  z-index: 9;
  width: 100%;
  height: 100%;
}
textarea.input-controller {
  vertical-align: top;
  resize: none;
}
.input-view {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid transparent;
  border-color: rgba(0,0,0,0.38) rgba(0,0,0,0.27) rgba(0,0,0,0.16);
  background: linear-gradient(#fff, #fff);
}
:not(.is-disabled):focus + .input-view {
  outline: none;
  border-color: rgba(78,62,2,0.515) rgba(94,76,2,0.42) rgba(117,93,0,0.335);
}
.field-label {
  margin: -5px 0 -5px -10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  border-right: 1px solid rgba(0,0,0,0.08);
  margin-right: 10px;
  font-size: 16px;
  background: linear-gradient(rgba(255,225,120,0.1), rgba(0,0,0,0.02));
}
.field-label:hover {
  color: #d00;
}
.field-reset {
  margin: -5px -5px -5px 0;
  padding: 5px 5px 5px 5px;
  margin-right: -10px;
  height: auto;
}
.field-reset:before {
  content: " ";
}
.tabs {
  position: relative;
  display: block;
  margin: 0 -8px;
  font-size: 15px;
}
.tabs-item {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  line-height: 2em;
  padding: 3px 8px;
}
.tabs-item:hover {
  color: #d00;
}
.tabs-item_selected,
.tabs-item_selected:hover {
  color: #000;
  cursor: default;
}
.tabs-item_selected:before,
.tabs-item_selected:hover:before {
  content: "";
  position: absolute;
  top: -1px;
  right: 8px;
  bottom: auto;
  left: 8px;
  border-top: 2px solid;
}
.small-tabs {
  position: relative;
  display: block;
  margin: 0 -8px;
  font-size: 13px;
}
.select {
  position: relative;
  display: block;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: menuitem;
  -moz-appearance: window;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  padding: 5px 27px 5px 15px;
}
.select:focus {
  outline: none;
}
.select,x::-moz-focus-inner {
  color: transparent;
}
.select,x::-moz-focus-inner {
  padding: 6px 23px 6px 11px;
}
.select,x:-o-prefocus {
  margin-right: -15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.select-wrap {
  padding: 0;
}
.select-wrap,x:-o-prefocus {
  overflow: hidden;
  vertical-align: middle;
}
.select-wrap:after {
  top: 50%;
  right: 12px;
  bottom: auto;
  left: auto;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  margin: -5px -2px 0 0;
  color: #000;
}
select:focus + .select-focus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.small-select {
  position: relative;
  display: block;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: menuitem;
  -moz-appearance: window;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  padding: 5px 25px 5px 13px;
}
.small-select:focus {
  outline: none;
}
.small-select,x::-moz-focus-inner {
  color: transparent;
}
.small-select,x::-moz-focus-inner {
  padding: 5px 21px 5px 9px;
}
.small-select,x:-o-prefocus {
  margin-right: -15px;
  padding-top: 7px;
  padding-bottom: 6px;
}
.service-arrow {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 26px;
  background: #ffdb4c;
  white-space: nowrap;
  margin-right: 12.124px;
}
a.service-arrow {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
a.service-arrow:hover {
  color: #d00;
}
.search-arrow {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 5px 14px 5px 5px;
  background: #ffdb4c;
  white-space: nowrap;
  margin-right: 12.124px;
}
.search-arrow > .field {
  vertical-align: top;
}
.arrow-body {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 94px;
  background: #f00;
  white-space: nowrap;
  margin-right: 31.754px;
  color: #fff;
}
.arrow-body > .arrow-tail {
  border-color: transparent #f00;
  border-width: 55px 0 55px 31.754px;
}
.search {
  position: relative;
  display: block;
  padding: 5px 14px 5px 5px;
  background: #ffdb4c;
  white-space: nowrap;
  margin-right: 12.124px;
}
.search-field {
  width: 100%;
}
.search-content {
  display: block;
  overflow: hidden;
}
.search-right {
  float: right;
  margin-left: 6px;
}
.file-input {
  padding: 6px;
  margin: -6px;
}
.file-intruder-focus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.userpic {
  width: 42px;
  height: 42px;
}
.user {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.user:hover {
  color: #d00;
}
.user-pic {
  width: 42px;
  height: 42px;
}
.user-pic > .icon-notification {
  position: absolute;
  top: -1px;
  right: -4px;
}
.user-name {
  margin-left: 6px;
}
.header {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #d9d9d9;
  margin: -1px 0;
  z-index: 2;
  padding: 16px 20px;
}
.header-logo {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  top: -1px;
  width: 98px;
  height: 37px;
  margin-right: 20px;
}
.header-logo-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg") no-repeat 50%;
}
.header-service {
  position: relative;
  display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 26px;
  background: #ffdb4c;
  white-space: nowrap;
  margin-right: 12.124px;
}
.content {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: -1px 0;
  margin-left: 320px;
}
.content-section {
  position: relative;
  display: block;
  zoom: 1;
  padding: 16px 16px 0;
}
.content-section > h1,
.content-section > h2 {
  padding: 16px 16px 0;
  margin-right: -16px;
  margin-left: -16px;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.content-section > h1:first-child,
.content-section > h2:first-child {
  padding-top: 0;
  border-top: 0;
}
.content-section > h1 + h2 {
  padding-top: 0;
  border-top: 0;
}
.content-section a:not([class]) {
  cursor: pointer;
  color: #22c;
  text-decoration: underline;
}
.content-section a:not([class]):hover {
  color: #d00;
}
.content-section a:not([class])[href^=http] {
  cursor: pointer;
  color: #070;
  text-decoration: underline;
}
.content-section a:not([class])[href^=http]:hover {
  color: #d00;
}
.aside {
  background: #fff;
  border: 1px solid #e6e6e6;
  margin: -1px 0;
  position: absolute;
  width: 300px;
}
.aside_fixed {
  position: fixed;
  top: 20px;
}
.aside-nav {
  overflow: auto;
  overflow-x: hidden;
}
.aside-nav-item {
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 6px 10px;
  padding-right: 26px;
  margin-top: 1px;
}
.aside-nav-item:first-child {
  margin-top: 0;
}
.aside-nav-item:hover {
  background: #ecf4f9;
}
.aside-nav-item.is-active {
  cursor: default;
  color: #fff;
  background: #1981ca;
}
.aside-nav-item_2 {
  padding-left: 32px;
  font-size: 13px;
}
.aside-nav-item_3 {
  padding-left: 48px;
  font-size: 13px;
}
.aside-nav-item_4 {
  padding-left: 64px;
  font-size: 13px;
}
.aside-nav-item_5 {
  padding-left: 80px;
  font-size: 13px;
}
.aside-nav-item_6 {
  padding-left: 96px;
  font-size: 13px;
}
.aside-nav-item:after {
  content: '›';
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  line-height: 32px;
}
