@import "stylobate"

// Variables for Everything else

gap_xs = 0.6*rem
gap_s = 1*rem
gap_m = 1.6*rem
gap_l = 2*rem

// Skins
set-skin-namespace('islands')

@import "_skins/islands/skin-islands-isle"
@import "_skins/islands/skin-islands-text"
@import "_skins/islands/skin-islands-link"
@import "_skins/islands/skin-islands-button"
@import "_skins/islands/skin-islands-pseudo-button"
@import "_skins/islands/skin-islands-button_checked"
@import "_skins/islands/skin-islands-modal"

// Global reset for things
reset('h1' 'h2' 'h3', global)

// Blocks
@import "blocks/is-hidden"
@import "blocks/is-disabled"
@import "blocks/site-nav/site-nav" // Rename to tabs/nav/smth like that?
@import "blocks/text/text"
@import "blocks/example/example"
@import "blocks/isle/isle" // Do we really need separate class for this?
@import "blocks/link/link"
@import "blocks/button/button"
@import "blocks/modal/modal"

// Structures
@import "structures/page/page"

@import "structures/header/header"
@import "structures/header/header-logo"
@import "structures/header/header-service"

@import "structures/content/content"

@import "structures/aside/aside" // Move vertical nav out of here?
