h1,h2,h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.is-hidden {
  display: none !important;
}
.is-disabled {
  cursor: default !important;
  opacity: 0.6;
}
.is-disabled:focus {
  outline: 0;
}
.site-nav {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  padding: 0 1.2rem;
}
.site-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #22c;
  text-decoration: none;
  padding: 1rem 0.8rem;
}
.site-nav-link:hover {
  color: #d00;
}
a.site-nav-link:not([href]) {
  color: #000;
  cursor: default;
}
a.site-nav-link:not([href]):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0.8rem;
  bottom: auto;
  left: 0.8rem;
  border-top: 2px solid;
}
.text h1 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.text h2 {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.text h3 {
  margin-bottom: 1.6rem;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.text h4 {
  margin-bottom: 1.6rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.text h5 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.text h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
}
.text p {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.text p.secondary {
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.example {
  padding-left: 2rem;
  box-shadow: inset 2px 0 #ddd;
  margin-bottom: 2rem;
}
.example-title {
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #999;
}
.example-title-mark {
  color: #444;
}
.isle {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.flying-isle {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 8px 30px -5px rgba(0,0,0,0.5);
}
.link {
  cursor: pointer;
  color: #22c;
  text-decoration: none;
}
.link:hover {
  color: #d00;
}
.outer-link {
  cursor: pointer;
  color: #070;
  text-decoration: none;
}
.outer-link:hover {
  color: #d00;
}
.button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  position: relative;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 0.5rem 1.5rem;
  background: #eee;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}
.button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}
.button > .button-content {
  position: relative;
  display: block;
}
.button:not(.is-disabled):active {
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2);
}
.button:not(.is-disabled):active:before {
  box-shadow: inset 0 1px 3px -1px rgba(0,0,0,0.5);
}
.button:not(.is-disabled):active > .button-content {
  top: 1px;
}
.button:not(.is-disabled):focus {
  outline: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07), 0 0 6px 2px rgba(255,204,0,0.7);
}
.button:not(.is-disabled):focus:before {
  box-shadow: 0 0 0 1px rgba(193,154,0,0.2);
}
.button:not(.is-disabled):hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
}
.button:not(.is-disabled):hover:before {
  background: -webkit-linear-gradient(#fff, #f6f5f3);
  background: -moz-linear-gradient(#fff, #f6f5f3);
  background: linear-gradient(#fff, #f6f5f3);
}
.button:before {
  background: #fff;
  background: -webkit-linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
}
.small-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  position: relative;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 0.5rem 1.3rem;
  background: #eee;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}
.small-button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.small-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}
.small-button > .button-content {
  position: relative;
  display: block;
}
.small-button:not(.is-disabled):active {
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2);
}
.small-button:not(.is-disabled):active:before {
  box-shadow: inset 0 1px 3px -1px rgba(0,0,0,0.5);
}
.small-button:not(.is-disabled):active > .button-content {
  top: 1px;
}
.small-button:not(.is-disabled):focus {
  outline: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07), 0 0 6px 2px rgba(255,204,0,0.7);
}
.small-button:not(.is-disabled):focus:before {
  box-shadow: 0 0 0 1px rgba(193,154,0,0.2);
}
.small-button:not(.is-disabled):hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
}
.small-button:not(.is-disabled):hover:before {
  background: -webkit-linear-gradient(#fff, #f6f5f3);
  background: -moz-linear-gradient(#fff, #f6f5f3);
  background: linear-gradient(#fff, #f6f5f3);
}
.small-button:before {
  background: #fff;
  background: -webkit-linear-gradient(#fff, #eee);
  background: -moz-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
}
.action-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  position: relative;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 0.5rem 1.5rem;
  background: #ffdf60;
  background: -webkit-linear-gradient(rgba(96,64,0,0.4), rgba(70,47,0,0.54));
  background: -moz-linear-gradient(rgba(96,64,0,0.4), rgba(70,47,0,0.54));
  background: linear-gradient(rgba(96,64,0,0.4), rgba(70,47,0,0.54));
}
.action-button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.action-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}
.action-button > .button-content {
  position: relative;
  display: block;
}
.action-button:not(.is-disabled):active {
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2);
}
.action-button:not(.is-disabled):active:before {
  box-shadow: inset 0 1px 3px -1px rgba(0,0,0,0.5);
}
.action-button:not(.is-disabled):active > .button-content {
  top: 1px;
}
.action-button:not(.is-disabled):focus {
  outline: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07), 0 0 6px 2px rgba(255,204,0,0.7);
}
.action-button:not(.is-disabled):focus:before {
  box-shadow: 0 0 0 1px rgba(193,154,0,0.2);
}
.action-button:not(.is-disabled):hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
}
.action-button:not(.is-disabled):hover:before {
  background: -webkit-linear-gradient(#ffe681, #ffd428);
  background: -moz-linear-gradient(#ffe681, #ffd428);
  background: linear-gradient(#ffe681, #ffd428);
}
.action-button:before {
  background: #ffdf60;
  background: -webkit-linear-gradient(#ffdf60, #fc0);
  background: -moz-linear-gradient(#ffdf60, #fc0);
  background: linear-gradient(#ffdf60, #fc0);
}
.small-action-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  position: relative;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 0.5rem 1.3rem;
  background: #ffdf60;
  background: -webkit-linear-gradient(rgba(96,64,0,0.4), rgba(70,47,0,0.54));
  background: -moz-linear-gradient(rgba(96,64,0,0.4), rgba(70,47,0,0.54));
  background: linear-gradient(rgba(96,64,0,0.4), rgba(70,47,0,0.54));
}
.small-action-button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.small-action-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}
.small-action-button > .button-content {
  position: relative;
  display: block;
}
.small-action-button:not(.is-disabled):active {
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2);
}
.small-action-button:not(.is-disabled):active:before {
  box-shadow: inset 0 1px 3px -1px rgba(0,0,0,0.5);
}
.small-action-button:not(.is-disabled):active > .button-content {
  top: 1px;
}
.small-action-button:not(.is-disabled):focus {
  outline: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07), 0 0 6px 2px rgba(255,204,0,0.7);
}
.small-action-button:not(.is-disabled):focus:before {
  box-shadow: 0 0 0 1px rgba(193,154,0,0.2);
}
.small-action-button:not(.is-disabled):hover {
  background: -webkit-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
}
.small-action-button:not(.is-disabled):hover:before {
  background: -webkit-linear-gradient(#ffe681, #ffd428);
  background: -moz-linear-gradient(#ffe681, #ffd428);
  background: linear-gradient(#ffe681, #ffd428);
}
.small-action-button:before {
  background: #ffdf60;
  background: -webkit-linear-gradient(#ffdf60, #fc0);
  background: -moz-linear-gradient(#ffdf60, #fc0);
  background: linear-gradient(#ffdf60, #fc0);
}
.pseudo-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  position: relative;
  color: #333;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 0.3rem 1.1rem;
}
.pseudo-button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.pseudo-button:not(.is-disabled):hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.35);
}
.pseudo-button:not(.is-disabled):focus {
  outline: 0;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.35), 0 0 6px 2px rgba(255,204,0,0.7);
}
.small-pseudo-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
  font: inherit;
  position: relative;
  color: #333;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 0.3rem 1rem;
}
.small-pseudo-button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.small-pseudo-button:not(.is-disabled):hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.35);
}
.small-pseudo-button:not(.is-disabled):focus {
  outline: 0;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.35), 0 0 6px 2px rgba(255,204,0,0.7);
}
.page {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 62.5%;
  background: #f6f5f3;
}
.page-body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font: 1.5rem/2.2rem Arial, sans-serif;
  background: transparent;
}
.page-content {
  padding: 2rem;
}
.page-content:before {
  content: "";
  display: table;
}
.page-content:after {
  content: "";
  display: table;
  clear: both;
}
.header {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  z-index: 2;
  padding: 1.6rem 2rem;
}
.header-logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: -1px;
  width: 98px;
  height: 37px;
  margin-right: 2rem;
}
.header-logo-text {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px) !important;
}
.header-logo-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://islands.yandex-team.ru/bem/blocks-2/src/i/yandex.svg") no-repeat 50%;
}
.header-service {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  background: #ffdb4c;
}
.header-service:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.687005769217761rem;
  height: 2.687005769217761rem;
  -webkit-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg) translateZ(0);
  -moz-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  -o-transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  transform: translate(50%, -50%) scale(0.5, 1) rotate(-135deg);
  background: -webkit-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: -moz-linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
  background: linear-gradient(45deg, #ffdb4c 50%, transparent 50%);
}
.content {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  margin-left: 320px;
}
.content-section {
  position: relative;
  display: block;
  padding: 1.6rem 1.6rem 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}
.content-section:before {
  content: "";
  display: table;
}
.content-section:after {
  content: "";
  display: table;
  clear: both;
}
.content-section:first-child {
  border-top: 0;
}
.aside {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  position: absolute;
  width: 300px;
}
.aside-nav {
  overflow: auto;
  overflow-x: hidden;
}
.aside-nav-item {
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0.6rem 1rem;
  padding-right: 2.6rem;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  margin-top: 1px;
}
.aside-nav-item:first-child {
  margin-top: 0;
  box-shadow: none;
}
.aside-nav-item:hover {
  background: #ecf4f9;
}
.aside-nav-item.is-active {
  cursor: default;
  color: #fff;
  background: #1981ca;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.15), 0 -1px 0 #1981ca, 0 1px 0 #1981ca;
}
.aside-nav-item:after {
  content: '›';
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  line-height: 3.2rem;
}
