stylobate_defaults('skin-islands-button_focus',
  '__helper' '&:before'
  )



skin-islands-button_focus($this)
  border-color: $this.colors[0] || rgba(178,142,0,.6);
  outline: none

  if 'content' in $this.elements
    {replace('&', $this.parent.selector, $this.elements.content)}
      box-shadow: 0 0 10px ($this.colors[0] || #FC0)



skin-islands-button_focus__helper($this)
  unless 'content' in $this.elements
    pseudo-with-content()

    kind: fill

    border-radius: inherit
    box-shadow: 0 0 10px ($this.colors[0] || #FC0)
