.simple-button {
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
}

.simple-button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.simple-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font: 1.5rem/2.2rem Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent;
  color: #333 \0/;
  text-shadow: 0 0 0 #333;
  z-index: 9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.07);
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 0.5rem 1.5rem;
  background: rgba(0,0,0,0.3);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}

.simple-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
  z-index: -1;
}

.simple-button .button-content {
  position: relative;
  display: block;
}

input[type=file]:active + .simple-button,
.simple-button:not(.is-disabled):active {
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 #333;
}

input[type=file]:active + .simple-button:before,
.simple-button:not(.is-disabled):active:before {
  box-shadow: inset 0 1px 3px -1px rgba(0,0,0,0.5);
}

.simple-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input[type=file]:focus + .simple-button,
.simple-button:not(.is-disabled):focus {
  outline: 0;
}

input[type=file]:focus + .simple-button:after,
.simple-button:not(.is-disabled):focus:after {
  z-index: 9;
  box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
  border-radius: inherit;
}

.simple-button:before {
  background: #F7F7F7;
  background: -webkit-linear-gradient(#FFF, #EEE);
  background: linear-gradient(#FFF, #EEE);
}

input[type=file]:hover + .simple-button,
.simple-button:not(.is-disabled):hover {
  background: rgba(0,0,0,0.31);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.22), rgba(0,0,0,0.4));
  background: linear-gradient(rgba(0,0,0,0.22), rgba(0,0,0,0.4));
}

input[type=file]:hover + .simple-button:before,
.simple-button:not(.is-disabled):hover:before {
  background: #FBFAF9;
  background: -webkit-linear-gradient(#FFF, #F6F5F3);
  background: linear-gradient(#FFF, #F6F5F3);
}
