.normal-button
  skin: islands-v3-button (_hover '') (_active '') (_focus '')

.hovered-button
  skin: islands-v3-button _hover (_active '') (_focus '')

.clicked-button
  skin: islands-v3-button (_hover '') _active (_focus '')

.focused-button
  skin: islands-v3-button (_hover '') (_active '') _focus

.button.is-checked
  skin: islands-v3-button_checked
