@require '../../../standalone.styl'

.normal-button
  skin: v3-button (_hover '') (_active '') (_focus '')

.hovered-button
  skin: v3-button _hover (_active '') (_focus '')

.clicked-button
  skin: v3-button (_hover '') _active (_focus '')

.focused-button
  skin: v3-button (_hover '') (_active '') _focus

.button.is-checked
  skin: v3-button_checked
