.field-label {
  position: relative;
  z-index: 9;

  float: left;

  padding: 0.5rem 1rem;
  border-right: 1px solid rgba(0,0,0,0.08);
  margin: -0.5rem 1rem -0.5rem -1rem;

  cursor: pointer;
  text-decoration: none;

  font-size: 1.6rem;

  color: #000;

  background: -webkit-linear-gradient(rgba(255, 225, 120, 0.1), rgba(0,0,0,0.02));
  background: linear-gradient(rgba(255,225,120,0.1), rgba(0,0,0,0.02));
}

.field-label:hover {
  color: #D00;
}
