.input.is-wrong {
  border-color: rgba(255,0,0,0.7);

  box-shadow: 0 0 0 1px rgba(255,0,0,0.7), 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
}

.input.is-wrong + .dropdown {
  position: absolute;
  z-index: 9;

  margin-top: -1px;
  margin-left: 1rem;
}
