.group
  kind: group

.group-start
  kind: group-start '&,&:before'

.group-middle
  kind: group-end '&,&:before'

.group-end
  kind: group-end '&,&:before'

.group > .toggle-button,
.group-item
  kind: group-item '&,&:before'

.group > .toggler
  kind: group-item '& > .toggler-view, & > .toggler-view:before'

.group > .toggle-button:not(:last-child):before,
.group > .toggler:not(:last-child) > .toggler-view:before
  right: 0

