.group
  kind: group

.group > .toggle-button
  kind: group-item '&,&:before'

.group > .toggler
  kind: group-item '& > .toggler-view, & > .toggler-view:before'

.group > .toggle-button:not(:last-child):before,
.group > .toggler:not(:last-child) > .toggler-view:before
  right: 0

