.group
  kind: group

.group > .toggle-button
  kind: group-item '&,&:before'

.group > .radiogroup
  kind: group-item '& > .radiogroup-view, & > .radiogroup-view:before'

.group > .toggle-button:not(:last-child):before,
.group > .radiogroup:not(:last-child) > .radiogroup-view:before
  right: 0

