.page
  reset('html')

  font-size: 62.5%

  color: $color_text
  background: #F6F5F3

.page-body
  reset('body')

  font: $text_m/2.2*rem Arial, sans-serif

  background: transparent

.page-content
  kind: clear

  padding: gap_l
