.site-nav
  kind: block
  skin: isle 0.15

  padding: 0 (gap_l - 0.5*gap_m)
  // It would be nice to make nav/nav-item skin/pattern with padding here and there


.site-nav-link
  kind: block inline
  skin: link hover nou

  padding: gap_s 0.5*gap_m


a.site-nav-link:not([href])
  skin: link_selected

  &:before
    content: ""
    kind: fill top 0 0.5*gap_m

    border-top: 2px solid
