.aside
  skin: isle

  position: absolute

  width: 300px

.aside-nav
  overflow: auto
  overflow-x: hidden

.aside-nav-item
  kind: block

  cursor: pointer
  text-decoration: none
  color: #000

  padding: gap_xs gap_s
  padding-right: gap_s*2 + gap_xs

  box-shadow: 0 -1px 0 rgba(0,0,0,0.15)

  margin-top: 1px

  &:first-child
    margin-top: 0
    box-shadow: none

  &:hover
    background: #ECF4F9

  &.is-active
    cursor: default

    color: #FFF
    background: #1981CA
    box-shadow: 0 -1px 0 rgba(0,0,0,.15),
                0 -1px 0 #1981CA,
                0 1px 0 #1981CA
  for i in 2..6
    &_{i}
      padding-left: gap_m*i
      font-size: text_s

.aside-nav-item:after
  content: '›'

  position: absolute
  top: 0
  right: gap_s

  font-size: gap_l

  line-height: round(gap_l + 2*gap_xs,1)

