arrow($height, $color)
  position: absolute
  top: 50%
  right: 0
  $sqrt2 = 1.414213562
  width: $height * (1/$sqrt2)
  height: $height * (1/$sqrt2)

  // tfZ should be there only if alpha == 1
  -webkit-transform: translate(50%,-50%) scale(0.5,1) rotate(-135deg) translateZ(0)
  -moz-transform: translate(50%,-50%) scale(0.5,1) rotate(-135deg)
  -o-transform: translate(50%,-50%) scale(0.5,1) rotate(-135deg)
  transform: translate(50%,-50%) scale(0.5,1) rotate(-135deg)
  background: -webkit-linear-gradient(45deg, $color 50%,transparent 50%)
  background: -moz-linear-gradient(45deg, $color 50%,transparent 50%)
  background: linear-gradient(45deg, $color 50%,transparent 50%)


.header-service
  kind: block inline

  // There is no available gaps to make such paddings, so the closest are here
  padding: gap_xs gap_s

  // This could be `skin: h3`
  font-size: 1.8*rem
  line-height: 2.6*rem

  background: #FFDB4C

.header-service:before
  content: ""
  arrow(3.8*rem, #FFDB4C)

