skin-islands-v3-button_hover($this)
  $type = $this.parent.modifiers['type'] || 'normal'

  $border-color = null

  if $type in ('normal' 'pseudo')
    $border-color = rgba(#000, 0.4)

  if $type in ('dark' 'dark-pseudo')
    $border-color = rgba(#FFF, 0.55)

  if $type == 'action'
    $border-color = rgba(159,127,0, 0.8)

  $border-color = $border-color || $this.colors[0]

  if $border-color
    border-color: $border-color
