skin-islands-promo-button()
  skin-islands-check-font()

  position: relative

  cursor: pointer
  text-align: center

  border: none
  outline: 0
  background-color: #f9c400
  background: linear-gradient(to bottom, #ffe025 0%, #f9c400 92%, #be8c05 100%)
  text-shadow: 0 1px 0 rgba(#fff, 0.36)

  color: #473e09

  user-select: none

  if fly in arguments
    box-shadow: 0 0 1px 0 #ffffff,
                0 9px 18px 0 rgba(#99782e, 0.36)

    &:active
      box-shadow: 0 0 1px 0 #ffffff,
                  0 3px 9px 0 rgba(#99782e, 0.36)

      transform: translateY(2px)

  else
    box-shadow: 0 0 1px 0 #ffffff

    &:active
      background-color: #ffe652
      background: linear-gradient(to bottom, #c69007 0%, #f8c106 8%, #dec35e 100%)

      &:before
        background: linear-gradient(to bottom, #ffe349 0%, #ffdb01 100%)
        box-shadow: inset 0 2px 4px 0 rgba(#663400, 0.2)

      & { utilus_alike(arguments, $skin-islands-button-content) }
        top: 3px

  if small in arguments
    font-size: $islands_text_m * 0.75

    padding: $islands_xs $islands_xs * 2

    &,
    &:before
      border-radius: 4px

  else if large in arguments
    font-size: $islands_text_h3
    padding: round($islands_m * .7, 2) round($islands_m * 1.5, 1)

    &,
    &:before
      border-radius: 6px

  else if xlarge in arguments
    font-size: $islands_text_h2
    padding: $islands_l * .85 $islands_l * 1.25

    &,
    &:before
      border-radius: 8px

  else
    font-size: $islands_text_m

    padding: $islands_s $islands_s * 1.5

    &,
    &:before
      border-radius: 4px

  &:before
    content: ""
    kind: fill 1px

    background: linear-gradient(to bottom, #ffe34a 0%, #ffdb03 100%)
    box-shadow: inset 0 -0.085em 0 0 rgba(#663400, 0.2),
                inset 0 0 3px 0 rgba(#feffbb, 0.5)

  &:hover:before
    background: linear-gradient(to bottom, #ffe86a 0%, #ffe130 100%)

  & { utilus_alike(arguments, $skin-islands-button-content) }
    kind: block


