.example,
.content-section > blockquote
  padding: 0 0 0 gap_l
  box-shadow: inset 2px 0 #DDD

  margin: 0 0 gap_l

.example-title,
.example > pre,
.content-section > blockquote > pre
  skin: para2
  color: #999

.example-title-mark
  color: #444
