.example,
.content-section > blockquote
  padding: 0 0 0 $l
  box-shadow: inset 0.2*rem 0 #DDD

  margin: 0 0 $l

.example-title
  skin: para2
  color: #999

.example-title-mark
  color: #444

span.example-source
  margin-top: $s

@import "prism"

// Where to move this stuff?
code,
pre,
kbd
  font-family: Monaco, Consolas, monospace
  font-size: 0.87em
  zoom: 1

pre > code
  font-size: 1em


pre
  position: relative
  overflow: hidden
  overflow-x: auto

  padding: 0
  margin: 0 -1*$m $m

li > pre
  margin-left: 0

blockquote pre
  margin-top: $s
  margin-left: -1*($l - 0.2*rem)

pre > code
  display: inline-block
  vertical-align: top
  padding: $s $m
  margin-bottom: 0

blockquote pre > code
  padding-left: $l - 0.2*rem

blockquote > hr
  margin: 0
  border: 0

hr
  margin: $l 0
  padding: 0
  border: none
  border-top: 1px solid #DDDCDA
