stylobate_defaults('skin-islands-v3-arrow',
  '_color' #000,
  '_border-color' #FC0,
  '_height' 32px,
  '_border-width' 2px,
  '_background' #FFF,
  '__tail' '&:after',
  '__body' '&:before')

skin-islands-v3-arrow($this)
  $height = $this.modifiers.height
  $border-width = $this.modifiers.border-width
  $color = $this.modifiers.color

  $tail-width = round(($height / 2) * tan(30deg), 3) + 0.5*$border-width

  deprecate($this.params, tail, true)
  deprecate($this.params, no-elements, true)
  deprecate($this.params, search, true)

  kind: block inline
  z-index: 1
  white-space: nowrap
  overflow: hidden

  height: $height
  padding: 0 ($islands_m - $border-width)
  padding-right: ($islands_m - $border-width) + 0.5*$tail-width
  line-height: $height

  if ($this.params.negative-margin)
    margin-right: -1*$tail-width

  color: $color


skin-islands-v3-arrow__body($this)
  pseudo-with-content()

  +cache()
    z-index: -1
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

  $height = $this.modifiers.height
  $border-width = $this.modifiers.border-width
  $border-color = $this.modifiers.border-color

  +cache($height $border-width $border-color)
    $tail-width = round(($height / 2) * tan(30deg), 3)
    margin-right: $tail-width

    border: $border-width solid $border-color
    border-right-width: 0

skin-islands-v3-arrow__tail($this)
  pseudo-with-content()

  +cache()
    z-index: -1
    position: absolute
    left: 100%
    top: 50%

    transform: translate(-50%,-50%) scale(0.5,1) rotate(-135deg)

  // TODO: proper height/width for the big border
  $border-width = $this.modifiers.border-width
  $height = $this.modifiers.height - 2 * $border-width
  $border-color = $this.modifiers.border-color

  +cache($height $border-width $border-color)
    $sqrt2 = 1.414213562
    $tail-width = round(($height / 2) * tan(30deg), 3) + $border-width
    width: round($height * (1/$sqrt2), 1)
    height: round($height * (1/$sqrt2), 1)
    margin-left: -($tail-width) + 0.5px

    border: ($border-width + 1) solid $border-color
    border-top: 0
    border-right: 0


skin-islands-v3-arrow_background($this)
  $background = $this.modifiers.background

  +cache($background)
    {$this.elements.body}
      background: $background

    {$this.elements.tail}
      if $background == transparent
        background: linear-gradient(90deg, $background, $background) border-box
      else
        background: $background
