skin-islands-checkbox()
  skin-islands-button(no-active retrieve(arguments, sizeless, adaptive))

  vertical-align: middle

  text-align: center

  margin-top: -3px
  margin-right: $xs

  unless no-modifiers
    &_m
      width: $m
      height: $m
      padding: 0
    &_m
      width: $m - 0.2*rem
      height: $m - 0.2*rem
      padding: 0

  // Replace it with svg?
  // And icon kind?
  &-icon
    position: absolute
    top: 50%
    left: 50%

    width: 5px
    height: 13px
    border-bottom: 3px solid
    border-right: 3px solid
    margin: -13px 0 0 -2px

    color: #000

    -webkit-transform: scale(0.9) rotate(50deg) skewX(12deg)
    -moz-transform: scale(0.9) rotate(50deg) skewX(12deg)
    transform: scale(0.9) rotate(50deg) skewX(12deg)

    // Find out if there is any way to make this easier?
    .toggler-controller:not(:checked) + .toggler-view > &
      visibility: hidden
