.small-pseudo-button {
  margin: 0;
  border: none;
  background: transparent;
  -moz-appearance: none;
}

.small-pseudo-button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.small-pseudo-button {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 1.5rem/2.2rem Arial, sans-serif;
  position: relative;
  vertical-align: baseline;
  color: #333;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 0.3rem 1rem;
}

.small-pseudo-button:before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 2px;
}

.small-pseudo-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.small-pseudo-button .button-content {
  position: relative;
  display: block;
}

.small-pseudo-button:not(.is-disabled):hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.35);
}

.small-pseudo-button:not(.is-disabled):focus {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.35);
  outline: 0;
}

.small-pseudo-button:not(.is-disabled):focus:after {
  z-index: 9;
  box-shadow: 0 0 6px 2px rgba(255,204,0,0.7), inset 0 0 0 1px rgba(193,154,0,0.2);
  border-radius: inherit;
}
