.vertical-group
  skin: islands-group

.vertical-group > .toggle-button
  skin: islands-group__item vertical

  // Should I move those styles to the kind?
  // Maybe optional?
  display: block
  width: 100%
