// Proto for simple buttons
skin-proto-button()
  position: relative

  color: #333

  border-radius: 3px

  if fly in arguments
    box-shadow: 0 8px 20px -5px rgba(#000, 0.25)
  else
    box-shadow: 0 1px 0 rgba(#000, 0.07)

  &:before
    content: ""
    kind: fill 1px
    border-radius: 2px

  if small in arguments
    skin-p2(no-margin)
    padding: (gap_xs - 0.1*rem) (gap_m - 0.3*rem)
  else
    skin-p(no-margin)
    padding: (gap_xs - 0.1*rem) (gap_m - 0.1*rem)

  & > .button-content
    kind: block

  &:not(.is-disabled):active
    skin-button_pressed(arguments)

    if fly in arguments
      top: 1px
    else
      & > .button-content
        top: 1px

  // So it would overlay anything inside
  &:after
    content: ""
    kind: fill

  // Possible CSS-only way to disable focus on clicked buttons
  // &:hover:after
  //   -moz-transition: box-shadow 0.1s 999s

  &:not(.is-disabled):focus
    outline: 0

    &:after
      z-index: 9 // So it would be over other elements nearby
      box-shadow: 0 0 6px 2px rgba(255,204,0, 0.7), inset 0 0 0 1px rgba(193,154,0, 0.2);
      border-radius: inherit

// Normal button
skin-button()
  skin-proto-button(arguments)

  gradient: #000 0.2, 0.4

  &:not(.is-disabled):hover
    skin-button_hover()

  &:before
    gradient: #FFF, #EEE

// Action button
skin-action-button()
  skin-proto-button(arguments)

  gradient: #604000 0.4, #462f00 0.54

  &:not(.is-disabled):hover
    skin-action-button_hover()

  &:before
    gradient: #FFDF60, #FFCC00


// Hover state
skin-button_hover()
  gradient: #000 0.22, 0.4

  &:before
    gradient: #FFF, #F6F5F3

// Hover state for action
skin-action-button_hover()
  gradient: #000 0.22, 0.4

  &:before
    gradient: #FFE681, #FFD428

// Pressed state
skin-button_pressed()
  if fly in arguments
    box-shadow:0 4px 10px -4px rgba(#000, 0.45)
  else
    box-shadow: inset 0 2px 1px -1px rgba(#000, 0.4), 0 1px 0 rgba(#FFF, 0.2)

    &:before
      box-shadow: inset 0 1px 3px -1px rgba(#000, 0.5)

