skin-link()
  // This could be divided to `link-simple` and other stuff, so the `skin-link` would be just a shortcut

  cursor: pointer

  if outer in arguments
    skin-link_outer()
  else
    color: alike(arguments, #22C)

  unless no-hover in arguments
    &:hover
      skin-link_hover()

  if underline in arguments
    text-decoration: underline
  else
    text-decoration: none

  if pseudo in arguments
    text-decoration: none
    border-bottom: 1px dashed

skin-link_outer()
  color: #070

skin-link_hover()
  color: #D00

skin-link_selected()
  color: #000
  cursor: default


