.tabs
  kind: block
  skin: tabs

.tabs-item
  kind: block inline
  skin: tabs-item

.tabs-item_selected,
.tabs-item_selected:hover
  skin: tabs-item_selected

.small-tabs
  kind: block
  skin: tabs small

