// Radio button
.toggler
  kind: block inline

  cursor: pointer

  &-controller
    kind: hidden visually
    // Could add `.is-disabled &\n kind: hidden`

  input:checked + &-view
    skin: button_checked

  :focus + &-view
    skin: button_focus

// Also, see group block for toggler-inside-group styles
