skin-islands-link()
  // Shoulf find out how to merge arguments
  kind: link get_color(arguments) get_color(arguments, $index:1) get_ident(arguments) get_ident(arguments, $index:1)

  if fix-gaps in arguments
    background: linear-gradient(rgba(#FFF, 0), rgba(#FFF, 0)) no-repeat
    background-size: 16px 16px

skin-islands-outer-link()
  skin-islands-link(#070 get_ident(arguments))

skin-islands-pseudo-link()
  skin-islands-link(pseudo get_color(arguments))

skin-islands-link_selected()
  color: #000
  cursor: default

