skin-islands-button_type($this)
  $type = $this.parent.modifiers['type'] || 'normal'

  $background = null
  $border-color = null

  if $type == 'normal'
    $border-color = rgba(#000, 0.2)
    $background = #FFF

  if $type == 'dark'
    $border-color = rgba(#FFF, 0.35)
    $background = #000

  if $type == 'pseudo'
    $border-color = rgba(#000, 0.2)

  if $type == 'dark-pseudo'
    $border-color = rgba(#FFF, 0.35)

  if $type == 'action'
    $border-color = rgba(#000, 0.2)
    $background = #FFDB4D

  if $type == 'clear'
    $border-color = transparent

  $background = $background || $this.colors[0]
  $border-color = $border-color || $this.colors[1]

  if $border-color
    border-color: $border-color

  if $background
    if 'content' in $this.elements
      {$this.elements.content}
        background: $background
    else
      box-shadow: inset 0 90px $background
