// Надо вынести всё-таки view-controller в кайнд,
// добавить настройки к скину для задания размеров в виде таплов (?)
// Внутреннюю графику — как иконку?
// Ховер сделать по родителю?
// Ещё раз — попробовать вытаскивать таплы (подфиксить get, чтобы он работал со вложенными массивами без запятых?)

.checkbox
  kind: icon
  skin: checkbox adaptive

.radio
  kind: icon
  skin: radio adaptive
