// Надо вынести всё-таки view-controller в кайнд,
// добавить настройки к скину для задания размеров в виде таплов (?)
// Внутреннюю графику — как иконку?
// Ховер сделать по родителю?
// Ещё раз — попробовать вытаскивать таплы (подфиксить get, чтобы он работал со вложенными массивами без запятых?)

.checkbox
  kind: icon
  skin: checkbox

.radio
  kind: icon
  skin: radio

.normal-checkbox
  kind: icon
  skin: checkbox sizeless

  width: gap_m
  height: gap_m

.small-radio
  kind: icon
  skin: radio sizeless

  width: gap_m - 0.2*rem
  height: gap_m - 0.2*rem
