@import "../stylobate"
$init_islands_root = false
@import "../skins/islands"
set-skin-namespace('islands')

@import "../skins/islands/button/tests/button"
@import "../skins/islands/button/tests/toggler"
@import "../skins/islands/button/tests/toggle-button"
@import "../skins/islands/button/tests/action-button"
@import "../skins/islands/group/tests/group"
@import "../skins/islands/pseudo-button/tests/pseudo-button"
@import "../skins/islands/pseudo-button/tests/small-pseudo-button"
@import "../skins/islands/select/tests/select"
@import "../skins/islands/checkbox/tests/checkbox"
@import "../skins/islands/input/tests/input"
@import "../skins/islands/select/tests/button-arrow"
