// Using stylobuild
use('../node_modules/stylobuild')

@require "../skins/islands/lib/standalone.styl"

@require "../skins/islands/lib/skins/button/tests/button"
@require "../skins/islands/lib/skins/button/tests/toggler"
@require "../skins/islands/lib/skins/button/tests/toggle-button"
@require "../skins/islands/lib/skins/button/tests/action-button"
@require "../skins/islands/lib/skins/group/tests/group"
@require "../skins/islands/lib/skins/pseudo-button/tests/pseudo-button"
@require "../skins/islands/lib/skins/pseudo-button/tests/small-pseudo-button"
@require "../skins/islands/lib/skins/select/tests/select"
@require "../skins/islands/lib/skins/checkbox/tests/checkbox"
@require "../skins/islands/lib/skins/input/tests/input"
@require "../skins/islands/lib/skins/select/tests/button-arrow"

