skin-islands-radio()
  skin-islands-button(no-active retrieve(arguments, sizeless, adaptive))

  text-align: center

  margin-top: -4px
  margin-right: $xs

  border-radius: 50%

  &:before
    border-radius: 50%

  // Replace it with svg?
  // And icon kind?
  &-icon
    position: absolute
    top: 50%
    left: 50%

    width: 6px
    height: 6px
    margin: -3px

    background: #000
    border-radius: 50%

    // Find out if there is any way to make this easier?
    .toggler-controller:not(:checked) + .toggler-view > &
      visibility: hidden
