stylobate_defaults('skin-islands-v3-input',
  '_reset',
  '__box',
  '__view',
  '_focus' '&:focus',
  '_size' medium
  )

skin-islands-v3-input($this)
  position: relative


skin-islands-v3-input__box($this)
  box-sizing: border-box


skin-islands-v3-input__view($this)
  if 'controller' in $this.elements
    kind: fill -1px

  // Move colors to `_type` if there would be dark/pseudo/…?
  border: 1px solid rgba(#000, 0.2)
  if ie
    background: #FFF
  else
    background: linear-gradient(#FFF, #FFF)
    background-clip: padding-box
    background-size: 16px 16px


skin-islands-v3-input__controller($this)
  kind: input

  z-index: 9 // Magic?

  width: 100%
  height: 100%

  resize: none

  if 'centered' in $this.modifiers
    text-align: center

  // FIXME: proper function for adding tag to the proper place
  // FIXME: move to kind input
  textarea&
    vertical-align: top


skin-islands-v3-input_centered($this)
  text-align: center


skin-islands-v3-input_focus($this)
  border-color: rgba(178,142,0,.6)
  box-shadow: 0 0 10px ($this.colors[0] || #FC0)


skin-islands-v3-input_reset($this)
  kind: input
  &
    kind: pill

  unless 'controller' in $this.elements
    // FIXME: proper function for adding tag to the proper place
    // FIXME: move to kind input
    textarea&
      vertical-align: top

@require '_size/skin-islands-v3-input_size'
