.button-arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.2em;
  background: 50% no-repeat;
}

.button-arrow {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  margin-top: -0.33em;
  -webkit-transform: scale(0.75) rotate(45deg);
  -ms-transform: scale(0.75) rotate(45deg);
  transform: scale(0.75) rotate(45deg);
}

.button-arrow {
  float: right;
  top: 0.7em;
  left: -1px;
  margin-right: -0.6rem;
  margin-left: 1rem;
}
