.icon_notification {
  position: relative;

  display: inline-block;

  min-width: 9px;
  height: 15px;
  padding: 0 3px;
  border: 2px solid #FFF;
  margin-top: -0.2em;

  text-align: center;
  vertical-align: middle;

  font-size: 13px;
  font-weight: bold;
  line-height: 15px;

  color: #FFF;

  background: 50% no-repeat;
  background: red;
  box-shadow: 0 1px 0 1px rgba(0,0,0,0.1), 0 5px 10px -5px rgba(0,0,0,0.5);

  border-radius: 1em;
}
