stylobate_defaults('skin-islands-v3-loader',
  '_size' medium,
  '_fallbacks')

skin-islands-v3-loader($this)
  kind: block inline

// Fallbacks for browsers that do not support SMIL animations
skin-islands-v3-loader_fallbacks($this)
  $color = $this.modifiers['color'] || #FC0

  @keyframes rotate360
    from
      transform: rotate(0deg)
    to
      transform: rotate(360deg)

  // IE fallback
  :root &,
  /_:-ms-input-placeholder
    box-sizing: border-box
    border: 2px solid $color
    border-left-color: transparent
    border-top-color: transparent
    animation: rotate360 1s linear infinite
    border-radius: 50%

  // Old Opera fallback
  body:last-child &
  /_:-o-prefocus
    animation: rotate360 1s linear infinite

skin-islands-v3-loader_size($this)
  $size = $this.modifiers['size'] || 'medium'
  $color = $this.modifiers['color'] || #FC0
  $radius = 10

  if $size in ('xs' 'extra-small')
    $radius = 8

  if $size in ('small' 'small')
    $radius = 12

  if $size in ('m' 'medium')
    $radius = 14

  if $size in ('l' 'large')
    $radius = 16

  $length = round(($radius - 1) * PI, 2)

  width: $radius*2px
  height: $radius*2px

  $color = replace("#", "%23", "" + $color)

  // The points of doing it by animating dashoffset
  // 1. More “true” way of rotating visualiazation (no needless antialiasing)
  // 2. No webkit transform animation problems (blocks losing subpixel font antialiasing etc.)
  // Ideally this should be made not in CSS, but via JS in canvas.
  background: url("data:image/svg+xml;utf8,<svg width='" + $radius*2 + "px' height='" + $radius*2 + "px' viewBox='0 0 " + $radius*2 + " " + $radius*2 + "' xmlns='http%3A//www.w3.org/2000/svg'><circle fill='none' stroke-width='2' stroke-dashoffset='" + $length + "' stroke-dasharray='" + $length + "' stroke='"+ $color +"' cx='" + $radius + "' cy='" + $radius + "' r='" + ($radius - 1) + "'><animate attributeName='stroke-dashoffset' from='" + $length + "' to='-" + $length + "' dur='1s' repeatCount='indefinite' /></circle></svg>")
