.modal-wrap
  kind: modal-wrap fixed

.modal
  kind: modal
  skin: popup \
    (-content '&-content') \
    (-close '&-close')

.modal-overlay
  kind: modal-overlay
  skin: popup-overlay

.dropdown
  kind: modal
  skin: popup \
    (-content '&-content' small) \
    (-tail '&-tail')
