.modal-wrap
  kind: guide fixed, centering
  z-index: 99

  &:before
    kind: centering-helper

.modal
  position: relative
  kind: guide-item, centering-item
  skin: isle fly

.modal-paranja
  kind: fill rgba(#000, 0.3), guide-item

// Could be a block like `content`, there are a lot of places for thing like that
.modal-content
  padding: gap_l
