// Complex input
.field
  kind: field 0.5*$s $s
  skin: input-box

.small-field
  kind: field no-elements
  skin: input-box small

.input-controller
  kind: input
  z-index: 9
  width: 100%
  height: 100%

.input-view
  kind: fill -1px
  skin: input-view no-focus

  .input-controller:not(.is-disabled):focus + &
    skin: input_focus

.field-label
  kind: field-left 0.5*$s $s
  skin: input-label
