.text
  & h1
    skin: h1

  & h2
    skin: h2

  & h3
    skin: h3

  & h4
    skin: h4

  & h5
    skin: h5

  & h6
    skin: h6

  & p
    skin: para
    max-width: 42em

  & p.secondary
    skin: para2
    max-width: 42em
