@import "../../skins/islands/lib/skins/text/tests/para"
@import "../../skins/islands/lib/skins/text/tests/para2"
@import "../../skins/islands/lib/skins/text/tests/h1"
@import "../../skins/islands/lib/skins/text/tests/h2"
@import "../../skins/islands/lib/skins/text/tests/h3"
@import "../../skins/islands/lib/skins/text/tests/h4"
@import "../../skins/islands/lib/skins/text/tests/h5"
@import "../../skins/islands/lib/skins/text/tests/h6"

.secondary
  skin: para2 no-margin

.text
  & p
    max-width: 42em

  & ol,
  & ul
    max-width: 42em

