.secondary
  skin: para2 no-margin

.text
  & h1
    skin: h1 reset

  & h2
    skin: h2 reset

  & h3
    skin: h3 reset

  & h4
    skin: h4 reset

  & h5
    skin: h5 reset

  & h6
    skin: h6 reset

  & p
    skin: para reset
    max-width: 42em

  & p.secondary
    skin: para2
    max-width: 42em

  & > .content-section > h1,
  & > .content-section > h2
    padding: gap_m gap_m 0
    margin-right: -1*gap_m
    margin-left: -1*gap_m

    border-top: 1px solid rgba(0,0,0,0.15)

    &:first-child
      padding-top: 0
      border-top: 0
