.tabs {
  position: relative;

  display: block;

  margin: 0 -0.8rem;

  font-size: 1.5rem;
}

.tabs-item {
  position: relative;

  display: inline-block;

  padding: 0.3rem 0.8rem;

  cursor: pointer;
  vertical-align: top;
  text-decoration: none;

  line-height: 2em;

  color: #22C;
}

.tabs-item:hover {
  color: #D00;
}

.tabs-item_selected,
.tabs-item_selected:hover {
  cursor: default;

  color: #000;
}

.tabs-item_selected:before,
.tabs-item_selected:hover:before {
  content: "";

  position: absolute;
  top: -1px;
  right: 0.8rem;
  bottom: auto;
  left: 0.8rem;

  border-top: 2px solid;
}
