// What to simplify:
// 1. Detail/skin/kind for layered button with gradiented borders, to call both gradients at the same time.
// 2. Move different buttons to other files.
// 3. Move the focus to skin/detail, to use it both there and for pseudo-button
// 4. Better handling of arguments?

// Proto for simple buttons
skin-islands-proto-button()
  position: relative

  vertical-align: baseline

  if one-element in arguments
    color: transparent
    color: $color_text unquote('\0/') // For IE9

    text-shadow: 0 0 0 $color_text
    z-index: 9
  else
    color: $color_text

  border-radius: 3px

  if fly in arguments
    box-shadow: 0 8px 20px -5px rgba(#000, 0.25)
  else
    box-shadow: 0 1px 0 rgba(#000, 0.07)

  &:before
    content: ""
    kind: fill 1px
    border-radius: 2px

    if one-element in arguments
      z-index: -1

  & > .button-content
    kind: block

  if small in arguments
    skin-islands-para2(no-margin)
    padding: ($xs - 0.1*rem) ($m - 0.3*rem)

  else if adaptive in arguments
    width: 1em
    height: 1em
    padding: 0 1px 1px 0
    line-height: 1em

  else
    unless sizeless in arguments
      skin-islands-para(no-margin)
      padding: ($xs - 0.1*rem) ($m - 0.1*rem)

  unless no-active in arguments
    &:not(.is-disabled):active
      skin-islands-button_pressed(arguments)

  // So it would overlay anything inside
  &:after
    content: ""
    kind: fill

  // Possible CSS-only way to disable focus on clicked buttons
  // &:hover:after
  //   -moz-transition: box-shadow 0.1s 999s

  &:not(.is-disabled):focus
    skin-islands-button_focus(arguments)


// Normal button
skin-islands-button()
  skin-islands-proto-button(arguments)

  gradient: #000 0.2, 0.4

  &:before
    gradient: #FFF, #EEE

  &:not(.is-disabled):hover
    skin-islands-button_hover()


// Action button
skin-islands-action-button()
  skin-islands-proto-button(arguments)

  gradient: #604000 0.4, #462f00 0.54

  &:before
    gradient: #FFDF60, #FFCC00

  &:not(.is-disabled):hover
    skin-islands-action-button_hover()


// Hover state
skin-islands-button_hover()
  gradient: #000 0.22, 0.4

  &:before
    gradient: #FFF, #F6F5F3


// Hover state for action
skin-islands-action-button_hover()
  gradient: #000 0.22, 0.4

  &:before
    gradient: #FFE681, #FFD428


// Pressed state
skin-islands-button_pressed()
  if fly in arguments
    top: 1px
    box-shadow: 0 4px 10px -4px rgba(#000, 0.45)
  else
    box-shadow: inset 0 2px 1px -1px rgba(#000, 0.4), 0 1px 0 rgba(#FFF, 0.2)

    &:before
      box-shadow: inset 0 1px 3px -1px rgba(#000, 0.5)

    if one-element in arguments
      text-shadow: 0 1px 0 $color_text
    else
      & > .button-content
        top: 1px
