.userpic
  kind: icon (size 42px)
  skin: userpic

.userpic:link,
.userpic:visited
  skin: userpic_ (_hover '&:hover')

.user
  kind: block inline, centering
  skin: link #000

  &-pic
    kind: icon (size 42px), centering-item
    skin: userpic (_hover '.user:hover > &')

    & > .icon-notification
      position: absolute
      top: -1px
      right: -4px

  &-name
    kind: centering-item
    margin-left: $xs
