$islands-v3 ?= {}

$islands-v3["shadows"] = {
  focus: 0 0 10px $islands-v3_color_focus,
  error: 0 0 0 2px $islands-v3_color_error
}

$islands-v3_shadow_focus ?= $islands-v3.shadows.focus
$islands-v3_shadow_error ?= $islands-v3.shadows.error
