.isle
  kind: block
  skin: isle

.flying-isle
  kind: block
  skin: isle fly

.isle-content
  padding: $m

  & > .tabs:first-child
    margin-top: -1*$m
    margin-bottom: $s

// While we can do this, there is no point to do so, really
// .islet
//   kind: block inline
//   skin: isle

// .flying-islet
//   kind: block inline
//   skin: isle fly
