.isle
  kind: block
  skin: isle

.flying-isle
  kind: block
  skin: isle fly

// While we can do this, there is no point to do so, really
// .islet
//   kind: block inline
//   skin: isle

// .flying-islet
//   kind: block inline
//   skin: isle fly
