@require '../../../standalone.styl'

.normal-button
  skin: button (_hover '') (_active '') (_focus '')

.hovered-button
  skin: button _hover (_active '') (_focus '')

.clicked-button
  skin: button (_hover '') _active (_focus '')

.focused-button
  skin: button (_hover '') (_active '') _focus

.button.is-checked
  skin: button_checked
