stylobate_defaults('skin-islands-button',
  '_reset',
  '_shape' normal,
  '_type' normal,
  '_size' medium,
  '_hover' '&:hover',
  '_active' '&:active',
  '_focus' '&:focus'
  )



skin-islands-button($this)
  $type = $this.modifiers['type'] || 'normal'

  font-family: Arial, sans-serif

  position: relative

  border: 1px solid

  color: $this.colors[0] || ($type in ('dark' 'dark-pseudo') ? invert($islands.colors.text) : $islands.colors.text)



skin-islands-button__content($this)
  kind: block
  border-radius: $this.modifiers.shape == 'round' ? 999px : 2px



skin-islands-button_reset($this)
  kind: button


@require '_shape/skin-islands-button_shape'
@require '_size/skin-islands-button_size'
@require '_hover/skin-islands-button_hover'
@require '_focus/skin-islands-button_focus'
@require '_checked/skin-islands-button_checked'
@require '_type/skin-islands-button_type'
@require '_active/skin-islands-button_active'
