.islet {
  position: relative;

  display: block;

  padding: 0 1rem;

  background: #FFF;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.islet:before {
  content: "";

  display: table;

  margin-bottom: 0.6rem;
}

.islet:after {
  content: "";

  display: table;
  clear: both;

  margin-top: 0.6rem;
}
