.test1
  &_defaults
    color: $islands_color_text
    background: $islands_bg_main

  &_misc
    color: $islands_color_text_misc
    background: $islands_bg_page

  &_focus
    background: $islands_color_focus

  &_error
    background: $islands_color_error

  &_selected
    background: $islands_color_selected

.test2
  &_defaults
    color: $islands.colors.text
    background: $islands.colors.bg.main

  &_misc
    color: $islands.colors.misc
    background: $islands.colors.bg.page

  &_focus
    background: $islands.colors.focus

  &_error
    background: $islands.colors.error

  &_selected
    background: $islands.colors.selected
