<!DOCTYPE html>{% include setup.md %}
<html class="page page_{{ lang }} page_{{ page.page_type }}{% if category != "" %} page_{{ category }}{% endif %}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/><!--[if gt IE 7]><!-->
    <link rel="stylesheet" href="{{ site.production_url }}/style.css?v={{ site.version }}" /><!--<![endif]--><!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.production_url }}/style.ie.css?v={{ site.version }}" /><![endif]-->

    {% if false %}
    	{% if page_have_translation %}{% if lang == 'en' %}
    	<link rel="alternate" hreflang="en" href="{{ site.production_url }}{{ page.url | remove:'index.html' }}" />
    	<link rel="alternate" hreflang="ru" href="{{ site.production_url }}{{ page.url | replace:'/en/','/' | remove:'index.html' }}" />{% else %}
    	<link rel="alternate" hreflang="en" href="{{ site.production_url }}/en{{ page.url | remove:'index.html' }}" />
    	<link rel="alternate" hreflang="ru" href="{{ site.production_url }}{{ page.url | remove:'index.html' }}" />{% endif %}{% endif %}
    {% endif %}

    <title>{{ processed_title }} — Прототип островов на Стилобате</title>
</head>
<body class="page-body">
    <div class="header">
        <h1 class="header-logo">
            <span class="header-logo-text">Яндекс</span>
            <span class="header-logo-image"></span>
        </h1
        ><h2 class="header-service">
            Интерфейсы
        </h2>
    </div>
    <div class="site-nav">
        {% capture menu_cache %}
            {% assign menu_result = '' %}
            {% assign current_post_name = page.url | remove:'/' | remove:'.html' %}
            {% if current_post_name == '' %}{% assign current_post_name = "index" %}{% endif %}
            {% for item in site.menu %}
                {% for post in site.pages %}
                    {% assign post_name = post.url | remove:'/' | remove:'.html' %}
                    {% if post_name == '' %}{% assign post_name = "index" %}{% endif %}
                    {% if post_name == item %}
                        {% assign processed_post = post %}
                        {% include tenkan/get_title.md %}
                        {% capture menu_result %}{{ menu_result }}<a class="site-nav-link"{% unless post_name == current_post_name %} href="{{ site.production_url }}{{ post.url | remove:'index.html' }}"{% endunless %}>{{ processed_title }}</a>{% endcapture %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endcapture %}{{ menu_result }}<a class="site-nav-outer-link" href="https://github.com/yandex-ui/stylobate-islands">Код на Гитхабе</a>

    </div>
    <div class="page-content">
        <div class="aside">
            <div class="aside-nav">
                {% assign toc_input = content %}
                {% capture lolcache %}{% include tenkan/toc.md %}{% endcapture %}
                {% for toc_id in toc_headers_id %}
                    {% if toc_headers_indexes[forloop.index0] != '' and toc_headers_indexes[forloop.index0] != '1' %}
                        <a class="aside-nav-item{% if toc_headers_indexes[forloop.index0] != '2' %} aside-nav-item_{{ toc_headers_indexes[forloop.index0] | minus:1 }}{% endif %}" href="#{{ toc_id }}">{{ toc_headers_contents[forloop.index0] }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="content text">
            <div class="content-section">
				{{ content | replace:'<code>','<code class="language-css">' }}
			</div>
		</div>
    </div>
    <script src="https://yandex.st/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ site.production_url }}/prism.js?v={{ site.version }}"></script>
    <script>

$("[data-modal]").click(function(){
    $('#' + $(this).attr('data-modal')).toggleClass('is-hidden');
});
$(".modal-paranja, .modal-close").click(function(){
    $(this).closest('.modal-wrap').toggleClass('is-hidden');
});
$(".toggle-button:not(.is-disabled)").click(function(){
    $(this).toggleClass('is-checked');
});

    </script>
</body>
</html>

