<!DOCTYPE html>{% include setup.md %}
<html class="page page_{{ lang }} page_{{ page.page_type }}{% if category != "" %} page_{{ category }}{% endif %}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/><!--[if gt IE 7]><!-->
    <link rel="stylesheet" href="{{ site.production_url }}/style.css?v={{ site.version }}" /><!--<![endif]--><!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.production_url }}/style.ie.css?v={{ site.version }}" /><![endif]-->

    {% if false %}
    	{% if page_have_translation %}{% if lang == 'en' %}
    	<link rel="alternate" hreflang="en" href="{{ site.production_url }}{{ page.url | remove:'index.html' }}" />
    	<link rel="alternate" hreflang="ru" href="{{ site.production_url }}{{ page.url | replace:'/en/','/' | remove:'index.html' }}" />{% else %}
    	<link rel="alternate" hreflang="en" href="{{ site.production_url }}/en{{ page.url | remove:'index.html' }}" />
    	<link rel="alternate" hreflang="ru" href="{{ site.production_url }}{{ page.url | remove:'index.html' }}" />{% endif %}{% endif %}
    {% endif %}

    <title>{{ processed_title }} — Документация к фреймворку «Стилобат»</title>

    {% assign example_links = content | split:' class="example:' %}
    {% for example_content in example_links offset:1 %}
        {% assign example_link = example_content | split:'"></div>' | first %}
        <link rel="stylesheet" href="{{ site.production_url }}{{example_link}}.css?v={{ site.version }}" />
    {% endfor %}
</head>
<body class="page-body">
    <div class="header">
        <h2 class="header-service">
            Документация к фреймворку «Стилобат»
        </h2>
    </div>
    <div class="site-nav">
        {% capture menu_cache %}
            {% assign menu_result = '' %}
            {% assign current_post_name = page.url | remove:'/' | remove:'.html' %}
            {% if current_post_name == '' %}{% assign current_post_name = "index" %}{% endif %}
            {% for item in site.menu %}
                {% for post in site.pages %}
                    {% assign post_name = post.url | remove:'/' | remove:'.html' %}
                    {% if post_name == '' %}{% assign post_name = "index" %}{% endif %}
                    {% if post_name == item %}
                        {% assign processed_post = post %}
                        {% include tenkan/get_title.md %}
                        {% capture menu_result %}{{ menu_result }}<a class="site-nav-link"{% unless post_name == current_post_name %} href="{{ site.production_url }}{{ post.url | remove:'index.html' }}"{% endunless %}>{{ processed_title }}</a>{% endcapture %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endcapture %}{{ menu_result }}<a class="site-nav-outer-link" href="https://github.com/yandex-ui/stylobate-islands">Код на Гитхабе</a>

    </div>
    <div class="page-content">
        <div class="aside">
            <div class="aside-nav">
                {% assign toc_input = content %}
                {% capture lolcache %}{% include tenkan/toc.md %}{% endcapture %}
                {% for toc_id in toc_headers_id %}
                    {% if toc_headers_indexes[forloop.index0] != '' and toc_headers_indexes[forloop.index0] != '1' %}
                        <a class="aside-nav-item{% if toc_headers_indexes[forloop.index0] != '2' %} aside-nav-item_{{ toc_headers_indexes[forloop.index0] | minus:1 }}{% endif %}" href="#{{ toc_id }}">{{ toc_headers_contents[forloop.index0] }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="content text">
            <div class="content-section">
                {% assign content_with_examples = content %}
                {% assign example_links = content | split:' class="example:' %}
                {% for example_content in example_links offset:1 %}
                    {% assign example_link = example_content | split:'"></div>' | first %}
                    {% capture example_find %}<div class="example:{{ example_link }}"></div>{% endcapture %}
                    {% capture example_replace %}
                    <div class="example-code">
                        <span class="group"
                            ><span class="small-pseudo-button toggle-button group-item example-source js-toggler" data-toggle="styl"><span class="button-content">styl</span></span
                            ><span class="small-pseudo-button toggle-button group-item example-source js-toggler" data-toggle="css"><span class="button-content">css</span></span
                        ></span>
                        <pre class="language-styl is-hidden" data-src="{{ site.production_url }}{{ example_link }}.styl"></pre>
                        <pre class="language-css is-hidden" data-src="{{ site.production_url }}{{ example_link }}.css"></pre>
                    </div>
                    {% endcapture %}
                    {% assign content_with_examples = content_with_examples | replace:example_find,example_replace %}
                {% endfor %}

				{{ content_with_examples | replace:'<pre class="styl">','<hr /><span class="small-pseudo-button toggle-button example-source js-toggler"><span class="button-content">styl</span></span><pre class="is-hidden">' | replace:'<code>','<code class="language-styl">' }}
			</div>
		</div>
    </div>
    <script src="https://yandex.st/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ site.production_url }}/prism.js?v={{ site.version }}"></script>
    <script src="{{ site.production_url }}/script.js?v={{ site.version }}"></script>

    <!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter8530063 = new Ya.Metrika({id:8530063, enableAll: true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/8530063" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>


