$islands_bg_page ?= #F6F5F3
$islands_bg_main ?= #FFF

$islands_color_text ?= #333
$islands_color_text_misc ?= rgba-ie(#000, 0.5)

$islands_color_focus ?= rgba-ie(#FC0, 0.7)
$islands_color_error ?= rgba-ie(#F00, 0.7)
