$islands ?= {}

$islands["px"] = 1px

$islands["sizes"] = {
  xs: 6px,
  s:  10px,
  m:  16px,
  l:  20px
}

$islands["text_sizes"] = {
  s: 13px,
  m: 15px,

  h1: 28px,
  h2: 24px,
  h3: 18px,
  h4: 16px,
  h5: 15px,
  h6: 13px
}

$islands_px ?= $islands.px
$islands_xs ?= $islands.sizes.xs
$islands_s  ?= $islands.sizes.s
$islands_m  ?= $islands.sizes.m
$islands_l  ?= $islands.sizes.l

$islands_text_m ?= $islands.text_sizes.m
$islands_text_s ?= $islands.text_sizes.s
$islands_text_h1 ?= $islands.text_sizes.h1
$islands_text_h2 ?= $islands.text_sizes.h2
$islands_text_h3 ?= $islands.text_sizes.h3
$islands_text_h4 ?= $islands.text_sizes.h4
$islands_text_h5 ?= $islands.text_sizes.h5
$islands_text_h6 ?= $islands.text_sizes.h6
