$islands-v3 ?= {}

$islands-v3['color'] = {
  black: #000,
  black-text: #333,

  gray: #999,
  gray-rgba: rgba(#000, 0.5),

  red: #F00,

  disable: #AAA,
  disable-rgba: rgba(#000, 0.33),

  neowhite: #F3F1ED,

  action: #FFCC00,

  selection: #FFEBA0,
  selection-rgba: rgba(255,201,0,0.37),

  selection-text: #B2A470,

  link: {
    normal: #04B,
    hover: #C00,
    visited: #909,
    outer: #070,
    minor: #669
  }
  border: {
    normal: rgba(#000, 0.1),
    light: rgba(#000, 0.06),
    control: rgba(#000, 0.2)
  }
}
