$islands-v3 ?= {}

$islands-v3['radius'] = 3px

// Gap sizes are unofficial
$islands-v3['gap'] = {
  xs: 6px,
  s:  10px,
  m:  16px,
  l:  20px
}

// Header sizes are unofficial
$islands-v3['font-size'] = {
  minor: 11px,
  p: 13px,
  p2: 15px,
  h1: 28px,
  h2: 24px,
  h3: 18px,
  h4: 16px,
  h5: 15px,
  h6: 13px
}

// Header sizes are unofficial
$islands-v3['line-height'] = {
  minor: 14px,
  p: 16px,
  p2: 20px,
  h1: 28px,
  h2: 24px,
  h3: 26px,
  h4: 16px,
  h5: 22px,
  h6: 20px
}
