.normal-checkbox
  kind: icon (size $islands_m $islands_m)
  skin: checkbox sizeless (__icon '& > .checkbox-icon')

.small-radio
  kind: icon (size ($islands_m - 0.2*rem) ($islands_m - 0.2*rem))
  skin: radio sizeless (__icon '& > .radio-icon')
