.normal-checkbox
  kind: icon (size $islands_m $islands_m)
  skin: islands-checkbox sizeless (__icon '& > .checkbox-icon')

.small-radio
  kind: icon (size ($islands_m - 2px) ($islands_m - 2px))
  skin: islands-radio sizeless (__icon '& > .radio-icon')
