skin-islands-page()
  reset('html') unless no-reset in arguments

  font-size: 62.5%
  color: $islands_color_text
  background: #F6F5F3

  unless $init_islands_root
    rem = 1rem

skin-islands-page-body()
  reset('body') unless no-reset in arguments
  font: $islands_text_m/2.2*rem Arial, sans-serif

  background: transparent

  unless $init_islands_root
    $init_islands_root[0] = true
