.file-input
  kind: file-input 6px (-input '&-controller')


.file-intruder
  kind: file-intruder \
    (-inner '&-inner') \
    (-input '&-input') \
    (-focus '&-focus' 'islands-button_focus_style')
