// This should be made using placeholder selector when it would be there
.button
  kind: button
  skin: button

.small-button
  kind: button
  skin: button small

.fly-button
  kind: button
  skin: button fly

// Action button
.action-button
  kind: button
  skin: action-button

.small-action-button
  kind: button
  skin: action-button small

// Pseudo button
.pseudo-button
  kind: button
  skin: pseudo-button

.small-pseudo-button
  kind: button
  skin: pseudo-button small

.super-button
  kind: button
  skin: action-button fly small

// Toggle button
.toggle-button
  &.is-checked,
  &.is-checked:hover
    skin: button_checked
