// This should be made using placeholder selector when it would be there
.button
  kind: button
  skin: button

.small-button
  kind: button
  skin: button small

.fly-button
  kind: button
  skin: button fly

// Action button
.action-button
  kind: button
  skin: action-button

.small-action-button
  kind: button
  skin: action-button small

// Pseudo button
.pseudo-button
  kind: button
  skin: pseudo-button

.small-pseudo-button
  kind: button
  skin: pseudo-button small

// Toggle button
.toggle-button
  &.is-checked,
  &.is-checked:hover
    skin: button_checked

.super-button
  kind: button
  skin: action-button fly small

  &.is-checked,
  &.is-checked:hover
    skin: button_checked fly

// Radio button
.radio-button
  kind: block inline

  &-controller
    kind: hidden visually

  &-controller:checked + &-view
    skin: button_checked
