// This should be made using placeholder selector when it would be there
.button
  kind: button reset
  skin: button

.small-button
  kind: button reset
  skin: button small

// Action button
.action-button
  kind: button reset
  skin: action-button

.small-action-button
  kind: button reset
  skin: action-button small
