.dropdown {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  visibility: visible;
  background: #FFF;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 8px 30px -5px rgba(0,0,0,0.5);
}

.dropdown_to_top .dropdown-tail {
  bottom: 0;
  left: 50%;
  margin: -1em -0.5em;
  clip: rect(0,99em,99em,-99em);
}

.dropdown_to_top .dropdown-tail:before {
  top: -50%;
}

.dropdown_to_right .dropdown-tail {
  top: 50%;
  left: 0;
  margin: -0.5em -1em;
  clip: rect(-99em,auto,99em,-99em);
}

.dropdown_to_right .dropdown-tail:before {
  left: 50%;
}

.dropdown_to_bottom .dropdown-tail {
  top: 0;
  left: 50%;
  margin: -1em -0.5em;
  clip: rect(-99em,99em,auto,-99em);
}

.dropdown_to_bottom .dropdown-tail:before {
  top: 50%;
}

.dropdown_to_left .dropdown-tail {
  top: 50%;
  right: 0;
  margin: -0.5em -1em;
  clip: rect(-99em,99em,99em,0);
}

.dropdown_to_left .dropdown-tail:before {
  left: -50%;
}

.dropdown-content {
  padding: 0 1rem;
}

.dropdown-content:before {
  content: "";
  display: table;
  margin-bottom: 0.6rem;
}

.dropdown-content:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 0.6rem;
}

.dropdown-tail {
  position: absolute;
  font-size: 1.6rem;
  width: 1em;
  height: 1em;
  clip: rect(0,0,0,0);
}

.dropdown-tail:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 8px 8px 30px -5px rgba(0,0,0,0.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
