.small-popup {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 8px 30px -5px rgba(0,0,0,0.5);
  padding: 0 1rem 0 1rem;
}

.small-popup:before {
  content: "";
  display: table;
  margin-bottom: 0.6rem;
}

.small-popup:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 0.6rem;
}