.icon_arrow
  skin: islands-v3-icon_arrow 20px red right

.icon_another-arrow
  skin: islands-v3-icon_arrow blue top with-transition \
        (size 20px) \
        (width 4px) \
        (-direction '&:hover' bottom)

.icon_another-arrow_offset
  skin: islands-v3-icon_arrow \
        (offset-x 7px) \
        (offset-y 12px)
