.user
  kind: block inline, centering (-helper '') (-item '&-pic, &-name')
  skin: link #000

  &-pic
    kind: icon (size 42px)
    skin: userpic (_hover '.user:hover > &')

    & > .icon_notification
      position: absolute
      top: -1px
      right: -4px

  &-name
    margin-left: $islands_xs
