.user
  kind: block inline, centering (__helper '') (__item '&-pic, &-name')
  skin: islands-link #000

  &-pic
    kind: icon (size 42px)
    skin: islands-userpic (_hover '.user:hover > &')

    & > .icon_notification
      position: absolute
      top: -1px
      right: -4px

  &-name
    margin-left: $islands_xs
