skin-islands-popup()
  skin(isle fly)

skin-islands-popup-overlay()
  background: alike(arguments, rgba(#000, 0.3))

skin-islands-popup-content()
  padding: $l

skin-islands-popup-close()
  skin(icon remove with-hover)

  position: absolute
  top: 5px
  right: 5px

  margin-top: 0
